<template>
  <div>
    <draggable :list="files" :options="{ handle: '.sortable-handle' }" :class="{ 'sortable-container': files.length }">
      <div v-for="(file, index) in files" :key="file.key" class="list-item">
        
        <div class="item-cell item-cell--sortable-handle-wrapper">
          <div class="sortable-handle" title="Drag To Sort"><i class="icon-resize-vertical"></i></div>
        </div>
        
        <div class="item-cell">
          <c5-file-chooser
           :file-id="file.fID"
           :only-images="onlyImages"
           :ref="`fileChooser${file.key}`"
          />
        </div>
        
        <div class="item-cell">
          <button type="button" class="btn" @click="removeFile(index)"><i class="icon-trash"></i> Delete</button>
        </div>
      </div>
    </draggable>
  
    <p :style="{ 'margin': files.length ? '10px 0 10px 60px' : '0 0 10px 0' }"><button type="button" class="btn btn-primary" @click="addFile"><i class="icon-plus icon-white"></i> Add New {{ onlyImages ? 'Image(s)' : 'File(s)' }}</button></p>
  </div>
</template>

<script>
import C5FileChooser from './C5FileChooser.vue'

export default {
  name: 'c5-file-chooser-list',
  
  components: {
    C5FileChooser,
  },
  
  props: {
    initialFileIds: {
      type: Array,
      required: false,
      default: () => [],
    },
    onlyImages: {
      type: Boolean,
      required: false,
      default: false,
    },
  },
  
  data () {
    return {
      files: [],
    }
  },
  
  //Ideally this would be done in the data() default values,
  // but if the parent is using vue-router and sets their data in `beforeRouteEnter`,
  // then that gets called *after* the component is loaded,
  // which means the prop contains empty data in the data() function.
  watch: {
    initialFileIds (fileIds) {
      //Vue v-for loops require a unique key (otherwise list rendering goes haywire
      // when drag/drop sorting is performed)... but the data doesn't have a unique id value
      // (because the same file could be chosen more than 1 time within a list),
      // so use the lodash uniqueId() function to arbitrarily generate unique keys on each item.
      this.files = fileIds.map(fID => {
        return {
          fID: fID,
          key: window._uniqueId(),
        }
      });
    },
  },
  
  methods: {
    getChosenFileIds () {
      //We rely on the dom order of list items to determine sort order,
      // but this.$refs doesn't change its internal array order as elements are moved...
      // so instead of relying on implicit order of this.$refs.whatever,
      // we give each sub-component a unique ref and then look to this.files
      // for the actual sort order (since that is kept up-to-date via draggable).
      //Note that Vue automatically makes each $ref within a v-for loop an array,
      // so even though we use a unique $ref key, we need to do [0] within it
      // to get the actual item.
      return this.files.map(f => this.$refs[`fileChooser${f.key}`][0].getChosenFileId())
    },
    
    addFile () {
      //To facilitate the choosing of multiple files at once,
      // we put the "add item" code up here in the parent of the list
      // (not in the individual file chooser component itself)...

      //Before opening the File Manager dialog,
      // tell C5 where to callback when files are chosen from it.
      //
      //Note that we could use an arrow function to avoid having to store a reference to `this`,
      // but who knows what C5 does to the callback... so let's leave it old-school
      // just in case C5 expects to be able to bind `this` to something else.
      var self = this;
      window.ccm_chooseAsset = function(file) {
        let fileId = parseInt(file.fID, 10)
        if (fileId > 0) {
          let fileKey = window._uniqueId()
          
          self.files.push({
            fID: fileId,
            key: window._uniqueId(),
          })
          
          self.$nextTick(function() {
            let domId = self.$refs[`fileChooser${fileKey}`][0].domId
            window.ccm_triggerSelectFile(fileId, domId);
          });
        }
      };
      
      //Now open the File Manager dialog
      let filter = this.onlyImages ? '&fType=' + window.ccmi18n_filemanager.FTYPE_IMAGE : ''
      window.ccm_launchFileManager(filter);
    },
    
    removeFile (index) {
      this.files.splice(index, 1)
    },
  },
}
</script>

<style scoped>
  .sortable-handle {
    cursor: move;
    text-align: center;
    vertical-align: middle;
    padding: 10px;
    height: 23px;
    width: 32px;

    border-radius: 3px; /* Opera 10.5, IE9+, Safari 5, Chrome, Firefox 4+, iOS 4, Android 2.1+ */
    /* useful if you don't want a bg color from leaking outside the border: */
    -moz-background-clip: padding; -webkit-background-clip: padding-box; background-clip: padding-box;
  }
  .sortable-ghost {
    opacity: .5 !important;
    background: #C8EBFB !important;
  }
  .sortable-container {
    padding: 8px 0; /* add some space above and below for drop target */
    display: table;
    width: 100%;
  }
  
  .list-item {
    display: table-row;
  }
  .list-item:nth-child(odd) {
    background-color: #f9f9f9;
  }
  
  .item-cell {
    display: table-cell;
    vertical-align: middle;
    border-top: 1px solid #ddd;
    padding: 8px;
  }
  .item-cell--sortable-handle-wrapper {
    width: 40px;
    padding: 0;
  }
  .item-cell--actions-wrapper {
    width: 200px;
  }
</style>