<template>
  <div>
    <div class="ccm-editor-controls-left-cap">
      <div class="ccm-editor-controls-right-cap">
        <div class="ccm-editor-controls">
          <ul>
            <li ccm-file-manager-field="rich-text-editor-image"><a class="ccm-file-manager-launch" onclick="ccm_editorSetupImagePicker(); return false" href="#">Add Image</a></li>
            <li><a class="ccm-file-manager-launch" onclick="ccm_editorSetupFilePicker(); return false;" href="#">Add File</a></li>
            <li><a href="#" onclick="ccm_editorSitemapOverlay(); return false">Insert Link to Page</a></li>
            <!--<li><a :href="`${window.CCM_REL}/dashboard/system/basics/editor/`" target="_blank">Customize Toolbar</a></li>-->
          </ul>
        </div>
      </div>
    </div>
    <div id="rich-text-editor-image-fm-display">
      <input type="hidden" name="fType" class="ccm-file-manager-filter" value="1" />
    </div>
    <div class="ccm-spacer">&nbsp;</div>
    <textarea :id="domId" class="ccm-advanced-editor" ref="textarea">{{ initialContent }}</textarea>
  </div>
</template>

<script>
export default {
  name: 'c5-rich-text-editor',
  
  props: {
    domId: {
      type: String,
      required: true,
    },
    initialContent: {
      type: String,
      required: true,
    },
  },
  
  mounted () {
    //This is the Loader::element('editor_config')
    //NOTE: THIS MIGHT BREAK IF MORE THAN 1 RTE IS ON THE PAGE!
    window.tinyMCE.init(window.sdglMembersRichTextEditorOptions)
    
    //This is for the c5 toolbar header stuff (insert image, insert link to page, etc)
    window.ccm_activateFileSelectors()
  },
  
  //This component might get created before data has been retrieved from the server,
  // in which case we need to manually set the tinyMCE content
  // (we can't bind the textarea to the prop because once tinyMCE is initialized,
  // it doesn't keep looking to the original textarea for content)
  watch: {
    initialContent (content) {
      let el = window.tinyMCE.get(this.domId)
      if (el) {
        el.setContent(content)
      }
    },
  },
  
  methods: {
    getContent () {
      return window.tinyMCE.get(this.domId).getContent()
    },
  },
}
</script>
