<template>
  <div>
    
    <hr>
    
    <div class="pagination ccm-pagination" v-if="pagination && pagination.totalPages > 1">
    
    <!-- TODO: SEE IF WE CAN AVOID REPETITION IN THE :class OF THE NUMBER ITEMS (for 2 classes, `currentPage` and `active`). OR MAYBE BOOTSTRAP ONLY REALLY NEEDS ONE OF THEM? (OR WE CAN MANUALLY ADD THE STYLES TO OUR OWN CSS AND MAKE 1 COMBINED CLASS?) -->
    
      <ul>
        <li class="prev" :class="{ 'disabled': !pagination.prevPage }">
          <a v-if="pagination.prevPage" @click="$emit('paginate', pagination.prevPage)">&laquo; Previous</a>
          <a v-else class="ltgray">&laquo; Previous</a>
        </li>
        
        <li v-for="p in pagination.totalPages" class="numbers" :class="{ 'currentPage': isCurrent(p), 'active': isCurrent(p) }">
          <a @click="$emit('paginate', p)">{{ p }}</a>
        </li>
        
        <li class="next" :class="{ 'disabled': !pagination.nextPage }">
          <a v-if="pagination.nextPage" @click="$emit('paginate', pagination.nextPage)">Next &raquo;</a>
          <a v-else class="ltgray">Next &raquo;</a>
        </li>
      </ul>
    </div>
  </div>
</template>

<script>
export default {
  name: 'list-pagination',
  props: ['pagination'],
  methods: {
    isCurrent (p) {
      return (p == this.pagination.currentPage)
    },
  },
}
</script>

<style scoped>
  .pagination a {
    cursor: pointer;
  }
  .pagination .disabled a {
    cursor: default;
  }
</style>
