.ccm-ui table.redirect-type-table td.separator,
.ccm-ui table.redirect-source-table td.separator {
	padding-left: 30px;
}

table.redirects-list {
	border-spacing: 0;
}
table.redirects-list td {
	padding: 5px 10px;
}
table.redirects-list  tr.odd-row {
	background-color: #ececec;
}
table.redirects-list  tr.even-row {
	background-color: #f9f9f9;
}

div.redirect-from-table {
	width: 300px;
	overflow: hidden;
}

div.redirect-to-table {
	width: 300px;
	overflow: hidden;
}
.del-button {
	height: 20px;
	cursor: pointer;
}
fieldset {
	margin-top: 10px;
	border-radius: 5px;
}
fieldset legend {
	font-weight: bold;
	font-size: 16px;
}
.fieldDescr {
	font-size: 12px;
	font-weight: bold;
	padding-bottom: 5px;
}

.setting-box {
	margin-bottom: 5px;
	border: 1px solid #afafaf;
	padding: 10px;
	border-radius: 5px;
}
.setting-box label {
	font-weight: bold;
	cursor: pointer;
	float: none;
}
.setting-box em {
	font-size: 12px;
}
.regexp-note,
.type-M {
	display: none;
}
.redirect-matches {
	display: none;
}
.csv-import-example strong {
	font-size: 14px;
}
.csv-import-example pre {
	padding: 10px;
	font-size: 12px;
	border: 1px dashed #3f3f3f;
}
.import-settings-table th,
.import-settings-table td {
	padding: 10px;
}
.import-settings-table tr.odd-row {
	background-color: #f0f0f0;
}
.import-settings-table tr.even-row {
	background-color: #e9e9e9;
}
.csv-import-errors .error-item {
	margin-bottom: 5px;
	border: 1px dotted #9f9f9f;
	background-color: #FA8E8E;
	color: #000000;
	padding: 5px;
}

.redirects-pagination {
	padding-top: 0px;
	font-size: 12px;
	padding-bottom: 20px;
}

.redirect-matches {
	padding-top: 8px;
}

.swp-fieldset {
	margin-top: 10px;
	margin-bottom: 20px;
	border-radius: 5px;
	border: 1px solid #cfcfcf;
	padding: 15px 10px;
	position: relative;
}
.swp-legend {
	position: absolute;
	left: 20px;
	top: -13px;
	background-color: #ffffff;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 4px;
	font-size: 16px;
}
.ccm-ui table.redirect-source-table,
.ccm-ui table.redirect-type-table {
	width: auto;
	border: none;
	margin-bottom: 5px;
}
.ccm-ui table.redirect-source-table td,
.ccm-ui table.redirect-type-table td {
	border: none;
	padding-bottom: 0px;
	padding-left: 0px;
	padding-right: 5px;
}
.ccm-ui .swp-fieldset label {
	float: none;
	text-align: left;
}