.ws-mini-cal {
  font-family: Arial;
  background-color: #f2f2f2;
  /* note that font-size will be set via JS to 5% of the element width */
}
.ws-mini-cal table {
  width: 100%;
  border-spacing: .2em;
  border-collapse: separate; /* override twitter bootstrap table style */
}
.ws-mini-cal caption > div {
  font-weight: bold;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: .4em;
  background-color: #e6e6e6;
}
.ws-mini-cal caption > div a {
  text-decoration: none;
  color: #0080ff;
}
.ws-mini-cal thead th {
  border-bottom: 1px solid #d9d9d9;
}
.ws-mini-cal th {
  text-align: center;
  text-transform: uppercase;
  padding: .1em .2em;
  font-size: .6em;
  width: 14.2857%;
}
.ws-mini-cal td {
  text-align: center;
  padding: .4em .2em;
  border-radius: .2em;
}
.ws-mini-cal .events {
  background-color: #0080ff;
  color: white;
  cursor: pointer;
}
.ws-mini-cal .events.selected {
  background-color: #cce6ff;
  border-radius: .2em .2em 0 0;
  position: relative;
  color: black;
}
.ws-mini-cal .events.selected::after {
  content: "";
  display: block;
  background-color: #cce6ff;
  height: .2em;
  width: 100%;
  position: absolute;
  bottom: -.2em;
  left: 0;
}
.ws-mini-cal .event-details {
  display: none;
}
.ws-mini-cal .event-details td {
  background-color: #cce6ff;
  text-align: left;
}
.ws-mini-cal .event-details ul {
  padding-left: 1.2em;
  line-height: 1.3;
  display: none;
}
.ws-mini-cal .off {
  color: #bfbfbf;
}
