.ccm-ui .form-table {
    border: none;
}
.ccm-ui .form-table td {
    border: none;
    vertical-align: middle;
    padding: 5px 5px 9px 5px;
}
.ccm-ui .form-table td.label-cell {
	text-align: right;
	white-space: nowrap;
}
.ccm-ui .form-table label {
    float: none;
    text-align: inherit;
}
.ccm-ui .form-table select {
	width: auto;
}
