<template>
  <div id="sdgl-members-categories-app">
    <keep-alive include="list-page"><!-- so the list retains state when user navigates back to it -->
      <router-view></router-view>
    </keep-alive>
  </div>
</template>

<script>
export default {
  name: 'sdgl-members-categories-app'
}
</script>
