/* listing table (override bootstrap styles) */
	.ccm-ui .table {
		width: auto;
	}
	.ccm-ui .table td {
		vertical-align: middle;
	}
	.ccm-ui .table td.last-field {
		padding-right: 40px;
	}
	.ccm-ui .table td.action {
		padding-left: 0;
		padding-right: 5px;
	}


/* drag-n-drop sorting in listing tables */
	.sortable-container,
	.js-sortable-container {
		padding: 15px 0; /* add some space above and below for drop target */
	}

	.ccm-ui .sortable-handle, /* <--prepend w/ .ccm-ui to override default bootstrap styles */
	.ccm-ui .js-sortable-handle {
		cursor: move;
		display: block;
		text-align: center;
		margin-left: 10px;
		padding-top: 8px;
		height: 23px;
		width: 32px;

		-webkit-border-radius: 3px; /* Safari 3-4, iOS 1-3.2, Android ≤1.6 */
		        border-radius: 3px; /* Opera 10.5, IE9+, Safari 5, Chrome, Firefox 4+, iOS 4, Android 2.1+ */
		/* useful if you don't want a bg color from leaking outside the border: */
		-moz-background-clip: padding; -webkit-background-clip: padding-box; background-clip: padding-box;
	}

	.ccm-ui .sortable-handle:hover, /* <--prepend w/ .ccm-ui to override default bootstrap styles */
	.ccm-ui .js-sortable-handle:hover,
	.ui-sortable-helper .sortable-handle, /* <--this selector is to maintain hover bg color while dragging (even if mouse moves off the drag handle) */
	.ui-sortable-helper .js-sortable-handle {
		background-color: #ccc;
	}

/* hide Vue.js components before they've been rendered (so template markup doesn't briefly flash on screen) */
	[v-cloak] { display: none; }

/* ajax loading indicator */
	.loading-indicator img {
		vertical-align: middle;
		padding-left: 5px;
	}


/* add/edit forms */
	.tabular-form {
		display: table;
	}
	.tabular-form__row {
		display: table-row;
	}
	.tabular-form__col,
	.tabular-form__col--label {
		display: table-cell;
	    vertical-align: middle;
	    padding: 5px 5px 9px 5px;
	}
	.tabular-form__col--label {
	    text-align: right;
	}
	.tabular-form label {
	    float: none;
	    text-align: inherit;
	}

	.tabular-form select {
		width: auto;
	}


/* Product Options edit form */
	#edit-option-values {
		width: 100%;
	}
	#edit-option-values .chzn-container {
		vertical-align: top;
	}
	#edit-option-values .filters-container {
		margin: 10px 0;
	}
	#edit-option-values .title-container label,
	#edit-option-values .title-container input {
		font-weight: bold;
	}
	#edit-option-values .add-item-container {
		float: left;
	}
	#edit-option-values .create-filter-container {
		float: right;
	}

/* order details page */
	.wc-shop-order-details th,
	.wc-shop-order-details td {
		border: 1px solid black;
		padding: 5px;
	}
	