/*==============================================================================================================================
 WEB CONCENTRATE MIXIN LIBRARY
==============================================================================================================================*/

// Treat a div as a grid row (ensure everything after it falls visually below it)
@mixin wc-clearfix() {
	&:after {
		content: "";
		display: block;
		clear: both;
	}
}

// Hide only visually, but have it available for screen readers (http://snook.ca/archives/html_and_css/hiding-content-for-accessibility)
// Updated based on recommendations of: https://allyjs.io/tutorials/hiding-elements.html#2017-edition-of-visuallyhidden
@mixin wc-visually-hidden() {
	&:not(:focus):not(:active) {
		position: absolute;
		width: 1px;
		height: 1px;
		margin: -1px;
		border: 0;
		padding: 0;
		white-space: nowrap;		
		clip-path: inset(100%);
		clip: rect(0 0 0 0);
		overflow: hidden;
	}
}

// Hide only the text of an element (e.g. for the header branding -- you want the logo image visiable but not the site name text)
@mixin wc-hide-text() {
	overflow: hidden;
	text-indent: 101%;
	white-space: nowrap;
}

// Font face mixin
@mixin wc-font-face($font-family, $file-path, $weight: normal, $style: normal) {
	@font-face {
		font-family: $font-family;
		font-weight: $weight;
		font-style: $style;

		src: url('#{$file-path}.woff2') format('woff2'),
		     url('#{$file-path}.woff') format('woff');
	}
}

// REM mixin (based off http://davidensinger.com/2013/03/using-rems-with-sass/)
// Examples: `@include wc-rem(font-size, 24px);` or `@include wc-rem(margin, 0 0 1.5 0);`
// Notes: "16px" being hard-coded is intentional. 16px is the default font-size applied to the <html> tag in most browsers.
// And since our designs are almost always targeted at a typical browser, we're using 16px to help with our math in calculating rem values.
// It's important to understand that 1rem may not actully result in 16px in a browser. A user/device may have chosen to set the 
// browser's default font-size to a larger size. So if the <html> element is given a default value of 20px, 1rem would equal 20px.
// We're totally ok with that as we want to respect the user's/device's choice. That's the beauty of rem (it's relative). 
// Further, using 16px for calculations has no relation to a design's main text size. If a design calls for body copy to be 18px, we can 
// apply `@include wc-rem(font-size, 18px);` to the <body> tag or a <div> that wraps the content. That will give standard browsers
// 18 pixel text. And if the user/browser chooses to bump the default font-size, the body copy will get something larger than 18px.
// The only place where px usage is a problem is the "px-fallback" used by old browsers that don't support rem (eg: <IE8). In those 
// browsers, we will be forcing a pixel size (we're ok with that, because non-rem-supporting disappearing fast). 
@mixin wc-rem($property, $values) {
	// Create a couple of empty lists as output buffers.
	$px-values: ();
	$rem-values: ();

	// Loop through the $values list
	@each $value in $values {
		// For each property value, if it's in rem or px, derive both rem and
		// px values for it and add those to the end of the appropriate buffer.
		// Ensure all pixel values are rounded to the nearest pixel.
		@if $value == 0 or $value == 0px {
			// 0 -- use it without a unit
			$px-values: join($px-values, 0);
			$rem-values: join($rem-values, 0);
		} @else if type-of($value) == number and not unitless($value) and (unit($value) == px) {
			// px value given - calculate rem value from font-size
			$new-rem-value: $value / 16px;
			$px-values: join($px-values, round($value));
			$rem-values: join($rem-values, #{$new-rem-value}rem);
		} @else if type-of($value) == number and not unitless($value) and (unit($value) == "%") {
			// % value given - don't add px or rem
			$px-values: join($px-values, #{$value});
			$rem-values: join($rem-values, #{$value});
		} @else if $value == auto {
			// auto - don't add px or rem
			$px-values: join($px-values, auto);
			$rem-values: join($rem-values, auto);
		} @else {
			// unitless value - use those directly as rem and calculate the px-fallback
			$px-values: join($px-values, round($value * 16px));
			$rem-values: join($rem-values, #{$value}rem);
		}
	}

	// output the converted rules
	#{$property}: $px-values;
	#{$property}: $rem-values;
}