<template>
  <div class="ccm-pane-body ccm-pane-body-footer">
    <draggable :list="categories" :options="{ handle: '.sortable-handle', disabled: disableControls }" @end="onDragEnd" class="sortable-container">
      <div v-for="category in categories" :key="category.id" class="list-item">
        
        <div class="item-cell item-cell--sortable-handle-wrapper">
          <div class="sortable-handle" :class="{ 'sortable-handle--disabled': disableControls }" title="Drag To Sort"><i class="icon-resize-vertical"></i></div>
        </div>
        
        <div class="item-cell">
          <edit-category
           v-if="currentlyEditingCategoryId == category.id"
           :initial-data="category"
           @save="onCategorySave"
           @cancel="currentlyEditingCategoryId = null"
          ></edit-category>
          
          <div v-else>
            <span class="category-title">{{ category.title }}</span>
          </div>
          
          <div v-if="currentlyExpandedCategoryId == category.id">
            <button type="button" class="btn" style="margin: 10px 0;" @click="currentlyExpandedCategoryId = null"><i class="icon-chevron-up"></i> Done with Sub-Categories</button>
            
            <list-subcategories
             :category-id="category.id"
             @add="category.subcategoryCount++"
             @remove="category.subcategoryCount--"
            ></list-subcategories>
          </div>
        </div>
        
        <div v-if="!disableControls" class="item-cell">
          <button type="button" class="btn" @click="currentlyExpandedCategoryId = category.id"><i class="icon-list-alt"></i> Sub-Categories&hellip;</button>
          &nbsp;
          <button type="button" class="btn" @click="currentlyEditingCategoryId = category.id"><i class="icon-pencil"></i> Edit Category</button>
          &nbsp;
          <button type="button" class="btn" :class="{ 'disabled-delete-button': hasSubcategories(category) }" @click="deleteCategory(category)" :disabled="hasSubcategories(category)" :title="(hasSubcategories(category) ? 'Category cannot be deleted until all of its sub-categories have been deleted' : '')"><i class="icon-trash"></i> Delete</button>
        </div>
      </div>
      
      <div slot="footer" class="list-item">
        <div class="item-cell">&nbsp;</div>
        
        <div class="item-cell">
          <edit-category
           v-if="currentlyEditingCategoryId == -1"
           :initial-data="{}"
           @save="onCategorySave"
           @cancel="currentlyEditingCategoryId = null"
          ></edit-category>
          
          <div v-else-if="!disableControls">
            <button type="button" class="btn btn-success" @click="currentlyEditingCategoryId = -1">Add New Category</button>
          </div>
        </div>
        
        <div class="item-cell">&nbsp;</div>
      </div>
    </draggable>
  </div>
</template>

<script>
import EditCategory from '../components/EditCategory.vue'
import ListSubcategories from '../components/ListSubcategories.vue'

export default {
  name: 'list-page',
  
  components: {
    EditCategory,
    ListSubcategories,
  },
  
  data () {
    return {
      categories: window.sdglMembersData,
      currentlyEditingCategoryId: null, //-1: adding new record, null/0: not adding/editing anything, >0: editing an existing record
      currentlyExpandedCategoryId: null,
    }
  },
  
  computed: {
    disableControls () {
      return !!(this.currentlyEditingCategoryId || this.currentlyExpandedCategoryId)
    },
  },
  
  methods: {
    onCategorySave (data) {
      let editedCategory = this.categories.find(c => c.id == data.id)
      if (editedCategory) {
        Object.keys(data).forEach(key => { editedCategory[key] = data[key] }) //don't overwrite the entire object (because passed-in data won't contain subcategoryCount), and don't use Object.assign because it doesn't work w/ Vue reactivity in this situation
      } else {
        data.subcategoryCount = 0
        this.categories.push(data)
      }
      
      this.currentlyEditingCategoryId = null
    },
    
    onDragEnd (event) {
      let sortedIds = this.categories.map(c => c.id)
      let url = `${window.sdglMembersBaseUrl}/post_sort_categories`
      let data = {
        ids: sortedIds,
        ccm_token: window.sdglMembersCsrfToken,
      }
      
      //This action has no possible errors (invalid data is just ignored),
      // and we don't do anything upon success... so no need for a response callback.
      $.post(url, data)
    },
    
    hasSubcategories (category) {
      //NOTE: The :disabled attribute on the delete button (up above in the <template>)
      //      MUST receive a boolean true/false (it won't treat integer 0 as falsey)
      return !!category.subcategoryCount
    },
    
    deleteCategory (category) {
      let categoryIndex = this.categories.findIndex(c => category.id == c.id)
      
      if (categoryIndex < 0) {
        alert('ERROR: cannot locate category') //not sure how this would ever happen, but just in case
        return
      }
      
      if (this.hasSubcategories(category)) {
        alert('This category cannot be deleted because it contains one or more sub-categories. You must delete each subcategory before the main category can be deleted.')
        return
      }
      
      if (!confirm('Are you sure you want to delete the category "' + category.title + '"?')) {
        return
      }
      
      this.categories.splice(categoryIndex, 1)
      
      let url = `${window.sdglMembersBaseUrl}/post_delete_category/${category.id}`
      let data = { ccm_token: window.sdglMembersCsrfToken }
      $.post(url, data, response => {
        if (!response.success) {
          //this is so unusual that we don't bother waiting to remove the row from the list (above) before checking for errors
          // (because the only non-exceptional error is if category has subcategories, which we already check above)
          alert(response.error ? response.error : 'ERROR: Could not delete category. Please reload the page and try again')
        }
      })
      
    },
  },
}
</script>

<style scoped>
  .sortable-handle {
    cursor: move;
    text-align: center;
    vertical-align: middle;
    padding: 10px;
    height: 23px;
    width: 32px;

    border-radius: 3px; /* Opera 10.5, IE9+, Safari 5, Chrome, Firefox 4+, iOS 4, Android 2.1+ */
    /* useful if you don't want a bg color from leaking outside the border: */
    -moz-background-clip: padding; -webkit-background-clip: padding-box; background-clip: padding-box;
  }
  .sortable-handle--disabled {
    opacity: 0;
    cursor: default;
  }
  .sortable-ghost {
    opacity: .5 !important;
    background: #C8EBFB !important;
  }
  .sortable-container {
    padding: 8px 0; /* add some space above and below for drop target */
    display: table;
    width: 100%;
  }
  
  .list-item {
    display: table-row;
  }
  .list-item:nth-child(odd) {
    background-color: #f9f9f9;
  }
  
  .item-cell {
    display: table-cell;
    vertical-align: middle;
    border-top: 1px solid #ddd;
    padding: 8px;
  }
  .item-cell--sortable-handle-wrapper {
    width: 40px;
    padding: 0;
  }
  .item-cell--actions-wrapper {
    width: 200px;
  }
  
  .category-title {
    font-weight: bold;
    font-size: 16px;
  }
  
  .disabled-delete-button {
    opacity: 0 !important;
  }
</style>
