/*==============================================================================================================================
 AD Block
==============================================================================================================================*/

.ads {
	text-align: center;
}
	.ads__ad {
		margin-bottom: $block-bottom-spacing;
		a {
			display: inline-block;
			&:hover, &:active, &:focus {
				
			}
		}
			img {
				display: inline-block;
				vertical-align: middle;
			}
	}