/*==============================================================================================================================
 C5 LOGIN
 
 All the things on the login page. Note that the form isn't 
 WARNING: the elements inside `c5-login__form` haven't been BEM-ified. Everything works fine, but should be done better.
==============================================================================================================================*/

.c5-login {
	max-width: 500px;
	margin: 0 auto;
	text-align: center;
	input[type="text"], input[type="password"] {
		text-align: center;
	}
}

	.c5-login__intro-message {
		padding: 20px;
		background-color: $color-boilerplate-gray-light;
		margin-bottom: 1em;
	}

	.c5-login__password-changed-message {
		padding: 20px;
		color: $color-success-dark;
		background-color: $color-success-light;
		border: 1px solid $color-success-dark;
		margin-bottom: 1em;
	}

	.c5-login__email-validated-message {
		padding: 20px;
		color: $color-success-dark;
		background-color: $color-success-light;
		border: 1px solid $color-success-dark;
		margin-bottom: 1em;
	}

	.c5-login__password-change {
		margin-bottom: 1em;
	}

	.c5-login__login {
		margin-bottom: 1em;
	}

	.c5-login__password-forgot {
		margin-bottom: 1em;
	}

	.c5-login__register {
		margin-bottom: 1em;
	}

	.c5-login__form {
		padding: 0 0 1em 0;
		// input items
		.input-items {
			// single input item
			.input-item {
				margin: 0 0 1em;
				// input label wrapper
				.input-label-wrapper {
					// label
					.input-label {
						line-height: 1.1;
						margin-bottom: 5px;
					}
					// note by label
					.input-note {
						display: inline;
						@include wc-rem(font-size, 12px);
						line-height: 1.3;
						color: $color-boilerplate-gray-light;
					}
				}
				// input field wrapper
				.input-field-wrapper {
					display: block;
					// note by field
					.input-note {
						display: block;
						@include wc-rem(font-size, 12px);
						line-height: 1.3;
						color: $color-boilerplate-gray-light;
					}
					// radios
					.input-radios {
						label {
							display: block;
							margin-bottom: 5px;
							padding-left: 5px;
						}
					}
					// checkboxes
					.input-checkboxes {
						label {
							display: block;
							margin-bottom: 5px;
							padding-left: 5px;
						}
					}
					// text
					.input-text {
						width: 100%;
						padding: 5px;
						background-color: #fff;
						border: 1px solid $color-boilerplate-gray-dark;
						border-radius: 0;
						@include wc-rem(font-size, 16px); // At least 16px to avoid mobile zooming
					}
					// text area
					.input-textarea {
						width: 100%;
						padding: 5px;
						background-color: #fff;
						border: 1px solid $color-boilerplate-gray-dark;
						min-height: 125px;
						border-radius: 0;
						@include wc-rem(font-size, 16px); // At least 16px to avoid mobile zooming
					}
					// select
					.input-select {
						width: 100%;
						@include wc-rem(font-size, 16px); // At least 16px to avoid mobile zooming
						&[multiple="multiple"] {
							border: 1px solid $color-boilerplate-gray-dark;
							padding: 5px;
						}
					}
				}
				// input buttons wrapper
				.input-buttons-wrapper {
					.input-submit {
						display: inline-block;
						background-color: $color-boilerplate-gray-dark;
						padding: 10px 15px;
						color: #fff;
						border: none;
						cursor: pointer;
						line-height: 1.1;
						border-radius: 0;
						&:hover, &:active, &:focus {
							background-color: $color-boilerplate-gray-medium;
						}
					}
				}
			}
		}
	}

