/*==============================================================================================================================
 C5 ERRORS
==============================================================================================================================*/

.c5-errors {
	padding: 10px;
	background-color: $color-error-light;
	color: $color-error-dark;
	border: 1px solid $color-error-dark;
}
	.c5-errors__heading {
		h1 {
			color: $color-error-dark;
		}
	}
	.c5-errors__list {
		margin-bottom: 0;
	}
		.c5-errors__item {
			
		}