/*==============================================================================================================================
 C5 FORM BLOCK
 
 This is for the actual C5 block (not a "BEM" block,
 no C5 single_page forms, nor any custom forms
 such as custom_contact_form or WC mailchimp block).
==============================================================================================================================*/

.formblock {
	max-width: 500px;
	margin-left: auto;
	margin-right: auto;
	form {
		padding: 0 0 1em 0;
	}
		.errors,
		.success {
			display: block;
			padding: 10px;
			margin: 0 0 1em;
			:last-child {
				margin-bottom: 0;
			}
		}
		.errors {
			background-color: $color-error-light;
			color: $color-error-dark;
			border: 1px solid $color-error-dark;
		}
		.success {
			background-color: $color-success-light;
			color: $color-success-dark;
			border: 1px solid $color-success-dark;
		}

		.fields {
			
		}
			// all fields
			.field {
				margin: 0 0 1em;
				> label {
					display: block;
					line-height: 1.1;
					margin-bottom: 5px;
				}
			}
			// radio fields
			.field-radios {
				.radioPair {
					margin-bottom: 5px;
					padding-left: 5px;
				}
			}
			// checkbox fields
			.field-checkboxlist {
				.checkboxPair {
					margin-bottom: 5px;
					padding-left: 5px;
				}
			}
			// text fields
			.field-text input,
			.field-email input,
			.field-url input,
			.field-telephone input,
			.field-fileupload input {
				width: 100%;
				padding: 5px;
				background-color: #fff;
				border: 1px solid $color-boilerplate-gray-dark;
				border-radius: 0;
				@include wc-rem(font-size, 16px) // At least 16px to avoid mobile zooming
			}
			// date fields
			.field-date {
				input {
					padding: 5px;
					background-color: #fff;
					border: 1px solid $color-boilerplate-gray-dark;
					border-radius: 0;
					@include wc-rem(font-size, 16px) // At least 16px to avoid mobile zooming
				}
			}
			// date/time fields
			.field-datetime {
				input {
					padding: 5px;
					background-color: #fff;
					border: 1px solid $color-boilerplate-gray-dark;
					border-radius: 0;
					@include wc-rem(font-size, 16px) // At least 16px to avoid mobile zooming
				}
			}
			// textarea fields
			.field-textarea textarea {
				width: 100%;
				padding: 5px;
				background-color: #fff;
				border: 1px solid $color-boilerplate-gray-dark;
				min-height: 125px;
				border-radius: 0;
				@include wc-rem(font-size, 16px) // At least 16px to avoid mobile zooming
			}
			// select fields
			.field-select select {
				width: 100%;
				@include wc-rem(font-size, 16px) // At least 16px to avoid mobile zooming
			}
			// submit
			.submit {
				display: inline-block;
				background-color: $color-boilerplate-gray-dark;
				padding: 10px 15px;
				color: #fff;
				border: none;
				cursor: pointer;
				line-height: 1.1;
				border-radius: 0;
				&:hover, &:active, &:focus {
					background-color: $color-boilerplate-gray-medium;
				}
			}
}
