/*==============================================================================================================================
 CONTENT
==============================================================================================================================*/

.content {
	margin-bottom: $block-bottom-spacing;
	&--width-1 {
		max-width: 800px;
		margin-left: auto;
		margin-right: auto;
	}
	&--width-2 {
		
	}
}