/*==============================================================================================================================
 CRUMBS
==============================================================================================================================*/

.crumbs {
	@include wc-rem(font-size, 14px);
	line-height: 1;
}
	.crumbs__heading {
		@include wc-visually-hidden();
		h2 {
			
		}
	}
	.crumbs__list {
		display: inline-block;
		list-style: none;
		padding: 0;
		margin: 0;
	}
		.crumbs__item {
			display: inline-block;
			vertical-align: middle;
			&--current-page {
				
			}
			&:after {
				content: '';
				display: inline-block;
				vertical-align: middle;
				margin: 0 5px;
				width: 6px;
				height: 8px;
				background-repeat: no-repeat;
				background-image: url(#{$image-crumbs-arrow});
				background-size: contain;
			}
			&:last-child:after {
				display: none;
			}
		}
			a.crumbs__link {
				text-decoration: none;
				display: inline-block;
				vertical-align: middle;
				&--current-page {
					
				}
				&:hover, &:active, &:focus {
					
				}
			}