/*==============================================================================================================================
 CTA BOX
==============================================================================================================================*/

.cta-box {
	margin-bottom: $block-bottom-spacing;
}
	.cta-box__image {
		img {
			display: block;
		}
	}
	.cta-box__heading-and-content {
		border: 1px solid $color-cream-medium;
		background-color: $color-cream-lightest;
		padding: 20px 40px;
	}
		.cta-box__heading {
			h2 {
				@include gl-text-standout($size: 4);
			}
		}
		.cta-box__content {
			@include gl-text-regular($size: 2);
			line-height: 1.3;
		}
	.cta-box__cta {
		a {
			@include gl-button();
			width: 100%;
			border-radius: 0;
			box-shadow: none;
		}
	} 