/*==============================================================================================================================
 CUSTOM CONTACT FORM
==============================================================================================================================*/	

.custom-contact-form {
	
}
	.custom-contact-form__errors {
		padding: 10px;
		margin: 0 0 20px;
		background-color: $color-error-light;
		color: $color-error-dark;
		border: 1px solid $color-error-dark;
	}
	.custom-contact-form__success {
		padding: 10px;
		margin: 0 0 20px;
		background-color: $color-success-light;
		color: $color-success-dark;
		border: 1px solid $color-success-dark;
	}
	.custom-contact-form__input-group {
		@media #{$media-query-tablet-landscape-and-larger} {
			@supports (display: flex) {
				display: flex;
				justify-content: space-between;
				margin-left: -10px;
				margin-right: -10px;
				width: 100%;
				max-width: 720px;
				&--medium {
					max-width: 420px;
				}
			}
		}
	}
		.custom-contact-form__input {
			margin-bottom: 20px;
			.custom-contact-form__input-group & {
				@media #{$media-query-tablet-landscape-and-larger} {
					@supports (display: flex) {
						flex: 1 1 0;
						padding-left: 10px;
						padding-right: 10px;
					}
				}
			}
		}
			.custom-contact-form__input-label {
				@include gl-text-standout($size: 4)
				margin-bottom: 5px;
			}
			.custom-contact-form__input-field {
				max-width: 400px;
				&--small {
					max-width: 100px;
				}
				&--medium {
					max-width: 200px;
				}
				&--large {
					max-width: 400px;
				}
				&--xlarge {
					max-width: none;
				}
				/* Text inputs */
				input[type='text'],
				input[type='email'],
				input[type='tel'],
				input[type='password'] {
					display: block;
					width: 100%;
					padding: 10px;
					background-color: $color-cream-lightest;
					border: none;
					box-shadow: inset 0 1px 3px 0 rgba(0,0,0,0.50);
					margin-bottom: 5px;
					border-radius: 0;
					@include wc-rem(font-size, 16px); // At least 16px to avoid mobile zooming
					&::placeholder {
						color: $color-boilerplate-gray-light;
						font-family: inherit;
					}
				}
				textarea {
					display: block;
					width: 100%;
					padding: 10px;
					background-color: $color-cream-lightest;
					border: none;
					box-shadow: inset 0 1px 3px 0 rgba(0,0,0,0.50);
					min-height: 125px;
					margin-bottom: 5px;
					border-radius: 0;
					@include wc-rem(font-size, 16px); // At least 16px to avoid mobile zooming
					&::placeholder {
						color: $color-boilerplate-gray-light;
						font-family: inherit;
					}
				}
				/* Select inputs */
				select {
					display: block;
					width: 100%;
					@include wc-rem(font-size, 16px); // At least 16px to avoid mobile zooming
					@supports (appearance: none) {
						appearance: none;
						border-radius: 0;
						border: none;
						box-shadow: inset 0 1px 3px 0 rgba(0,0,0,0.50);
						background-color: $color-cream-lightest;
						padding: 10px 30px 10px 10px;
						background-repeat: no-repeat;
						background-position: right 10px center;
						background-image: url( #{$image-select-arrow-down-gray-dark} );
					}
				}
			}
				.custom-contact-form__input-field-pairing {
					/* Checkbox and radio inputs */
					input[type='radio'] {
						
					}
					input[type='checkbox'] {
						
					}
					label {
						
					}
				}
	.custom-contact-form__submit {
		margin-top: 30px;
		button {
			@include gl-button();
		}
	}
