/*==============================================================================================================================
 DESIGNER BLOG FEATURED NAV
==============================================================================================================================*/

.db-featured-nav {
	
}
	.db-featured-nav__heading {
		h2 {
			
		}
	}
	.db-featured-nav__list {
		list-style: none;
		padding: 5px 0;
		margin: 0;		
		font-size: 1em;
		line-height: 1.1;
	}
		.db-featured-nav__item {
			margin-bottom: 10px;
		}
			a.db-featured-nav__link {
				text-decoration: none;
			}