/*==============================================================================================================================
 DESIGNER BLOG CLASSIFICATION NAV
==============================================================================================================================*/

.db-classification-nav {
	
}
	.db-classification-nav__heading {
		h2 {
			@include gl-text-standout($size: 5);
		}
	}
	.db-classification-nav__list {
		list-style: none;
		padding: 5px 0;
		margin: 0;		
		font-size: 1em;
		line-height: 1.1;
		@include gl-text-regular($size: 2);
	}
		.db-classification-nav__item {
			margin-bottom: 10px;
			&--current-page {
					
			}
		}
			a.db-classification-nav__link {
				text-decoration: none;
				&--current-page {
					
				}
			}