/*==============================================================================================================================
 DESIGNER BLOG POST
==============================================================================================================================*/

.db-post {
	@include wc-clearfix();
}
	.db-post__main {
		@media #{$media-query-tablet-portrait-and-smaller} {
			margin-bottom: 50px;
		}
		@media #{$media-query-tablet-landscape-and-larger} {
			float: left;
			width: calc(100% - 300px);
			padding-right: 50px;
		}
		@media #{$media-query-desktop-only} {
			padding-right: 140px;
		}	
	}
		.db-post__meta-before {
			
		}
			.db-post__date {
				@include gl-text-regular($size: 4);
				margin-bottom: 20px;
			}
			.db-post__categories {
			
			}
		.db-post__content {
			
		}
		.db-post__share {
			border-top: 1px solid $color-cream-medium;
			padding-top: 20px;
		}	
		.db-post__related {
			
		}
	.db-post__posts-nav {
		@media #{$media-query-tablet-landscape-and-larger} {
			float: left;
			width: 300px;
		}
	}
		.db-post__posts-nav-categories {
			margin-bottom: 20px;
		}
		.db-post__posts-nav-subscribe {
			margin-bottom: 20px;
		}
		.db-post__posts-nav-featured {
			margin-bottom: 20px;	
		}
		.db-post__posts-nav-authors {
			margin-bottom: 20px;
		}
		.db-post__posts-nav-archives {
			margin-bottom: 20px;
		}