/*==============================================================================================================================
 DESIGNER BLOG SUBSCRIBE
==============================================================================================================================*/

.db-subscribe {
	
}
	.db-subscribe__heading {
		h2 {
			
		}
	}
	.db-subscribe__copy {
		
	}