/*==============================================================================================================================
 DESIGNER BLOG AUTHOR NAV
==============================================================================================================================*/

.db-author-nav {
	
}
	.db-author-nav__heading {
		h2 {
			
		}
	}
	.db-author-nav__list {
		list-style: none;
		padding: 5px 0;
		margin: 0;		
		font-size: 1em;
		line-height: 1.1;
	}
		.db-author-nav__item {
			margin-bottom: 10px;
			&--current-page {
					
			}
		}
			a.db-author-nav__link {
				text-decoration: none;
				&--current-page {
					
				}
			}