/*==============================================================================================================================
 DESIGNER BLOG POSTS INDEX
==============================================================================================================================*/

.db-posts-index {
	@include wc-clearfix();
}
	.db-posts-index__posts {
		@include wc-clearfix();
		@media #{$media-query-tablet-portrait-and-smaller} {
			margin-bottom: 50px;
		}
		@media #{$media-query-tablet-landscape-and-larger} {
			float: left;
			width: calc(100% - 300px);
			padding-right: 50px;
		}
		@media #{$media-query-desktop-only} {
			padding-right: 140px;
		}
	}
		.db-posts-index__posts-heading {
			margin-bottom: 20px;
			&.db-posts-index__posts-heading--hidden {
				@include wc-visually-hidden();
			}
			h2 {
				@include gl-text-standout($size: 3);
			}
		}					
		.db-posts-index__posts-list {
			list-style: none;
			padding: 0;
			margin: 0;
		}
			.db-posts-index__posts-item {
				margin-bottom: 30px;
				padding-bottom: 30px;
				border-bottom: 1px solid $color-cream-medium;
			}
				.db-posts-index__posts-item-image {
					margin-bottom: 15px;
					a {
						display: inline-block;
						&:hover, &:active, &:focus {
					
						}
					}
						img {
							display: inline-block;
						}
				}
				.db-posts-index__posts-item-copy {
					
				}
					.db-posts-index__posts-item-title {
						h3 {
							@include gl-text-standout($size: 2);	
							margin-bottom: 0;
						}
							a {
								text-decoration: none;
								&:hover, &:active, &:focus {
							
								}
							}
					}
					.db-posts-index__posts-item-date {
						@include gl-text-regular($size: 4);
						margin-bottom: 10px;
					}
					.db-posts-index__posts-item-teaser {
						:last-child {
							margin-bottom: 0;
						}
					}
		.db-posts-index__posts-pagination {
			@include wc-clearfix();
			font-size: 1em;
			line-height: 1em;
			text-align: center;
			margin: 20px 0;
			padding-top: 20px;
			text-align: center;
		}
			.db-posts-index__posts-pagination-previous {
				display: inline-block;
				vertical-align: middle;
				:first-child:before {
					content: '\003C\00A0';
				}
			}
			.db-posts-index__posts-pagination-status {
				display: inline-block;
				vertical-align: middle;
				margin: 0 10px;
				@media #{$media-query-tablet-portrait-and-larger} {
					margin: 0 30px;
				}
				form {
					display: inline-block;
					vertical-align: middle;
				}
					input {
						margin: -3px 2px 0 2px;
						display: inline-block;
						vertical-align: middle;
						padding: 2px;
						border: 1px solid $color-cream-medium;
						width: 40px;
						line-height: 40px;
						height: 40px;
						text-align: center;
						color: inherit;
						background-color: $color-cream-lighter;
						box-shadow: inset 0 1px 3px 0 rgba(0,0,0,0.50);
					}
			}
			.db-posts-index__posts-pagination-next {
				display: inline-block;
				vertical-align: middle;
				:first-child:after {
					content: '\00A0\003E';
				}
			}		
	.db-posts-index__nav {
		@media #{$media-query-tablet-landscape-and-larger} {
			float: left;
			width: 300px;
		}
	}
		.db-posts-index__posts-nav-categories {
			margin-bottom: 20px;
		}
		.db-posts-index__posts-nav-subscribe {
			margin-bottom: 20px;
		}
		.db-posts-index__posts-nav-featured {
			margin-bottom: 20px;	
		}
		.db-posts-index__posts-nav-authors {
			margin-bottom: 20px;
		}
		.db-posts-index__posts-nav-archives {
			margin-bottom: 20px;
		}