/*==============================================================================================================================
 DESIGNER BLOG DATE NAV
==============================================================================================================================*/

.db-date-nav {
	
}
	.db-date-nav__heading {
		h2 {
			
		}
	}
	.db-date-nav__years {
		list-style: none;
		padding: 5px 0;
		margin: 0;
		font-size: 1em;
		line-height: 1.1;
	}
		.db-date-nav__year {
			margin-bottom: 5px;
		}
			.db-date-nav__year-name {
				cursor: pointer;
				display: inline-block;
				margin-bottom: 5px;
				position: relative;
				&--expanded {
					
				}
			}
			.db-date-nav__months {
				list-style: none;
				padding: 0 0 0 15px;
				margin: 0 0 5px;
				.js & {
					display: none;
				}
				&--expanded {
					.js & {
						display: block;
					}
				}
			}
				.db-date-nav__month {
					margin-bottom: 5px;
				}
					a.db-date-nav__month-name {
						text-decoration: none;
						font-size: .9em;
					}