/*==============================================================================================================================
 DESIGNER BLOG RELATED POSTS
==============================================================================================================================*/

.db-related-posts {

}
	.db-related-posts__heading {
		h2 {
			
		}
	}
	.db-related-posts__list {
		list-style: none;
		padding: 0;
		margin: 0;
	}
		.db-related-posts__item {
			@include wc-clearfix();
			margin-bottom: 20px;
		}
			.db-related-posts__item-image {
				float: left;
				width: 200px;
				padding-right: 20px;
				a {
					display: inline-block;
					&:hover, &:active, &:focus {
				
					}
				}
					img {
						display: inline-block;
					}			
			}
			.db-related-posts__item-copy {
				overflow: hidden;
			}
				.db-related-posts__item-title {
					h3 {
						margin-bottom: 0;
					}
						a {
							text-decoration: none;
							&:hover, &:active, &:focus {
						
							}
						}
				}
				.db-related-posts__item-date {
					
				}
				.db-related-posts__item-teaser {
				
				}