/*==============================================================================================================================
 DEC PUBLIC FORM
==============================================================================================================================*/	

.no-js .hide-if-no-js {
	display: none;
}

.dec-public-form {
	margin-bottom: 20px;
}
	.dec-public-form__form {
		max-width: 600px;
	}
		.dec-public-form__form-error {
			padding: 10px;
			margin: 0 0 20px;
			background-color: $color-error-light;
			color: $color-error-dark;
			border: 1px solid $color-error-dark;
		}
		.dec-public-form__form-warning {
			padding: 10px;
			margin: 0 0 20px;
			background-color: $color-warning-light;
			color: $color-warning-dark;
			border: 1px solid $color-warning-dark;
		}
		.dec-public-form__form-success {
			padding: 10px;
			margin: 0 0 20px;
			background-color: $color-success-light;
			color: $color-success-dark;
			border: 1px solid $color-success-dark;
		}
		.dec-public-form__fieldset {
			border: none;
			padding: 0;
			margin: 0 0 20px;
		}
			.dec-public-form__fieldset-legend {
				display: block;
				font-size: 1.6em;
				line-height: 1;
				font-weight: bold;
			}
			.dec-public-form__input-grouping {
				@media #{$media-query-tablet-portrait-and-larger} {
					display: table;
					table-layout: fixed;
					width: 100%;
					margin: 20px -10px;	
				}				
				.dec-public-form__input {
					@media #{$media-query-tablet-portrait-and-larger} {
						display: table-cell;
						vertical-align: top;
						padding-left: 10px;
						padding-right: 10px;	
					}
				}
			}
				.dec-public-form__input {
					margin: 20px 0;
					&--has-error {
						padding: 10px;
						background-color: $color-error-light;
						border: 1px solid $color-error-dark;
					}
					&--repeat-summary {
						padding: 10px;
						background-color: $color-boilerplate-gray-light;
						border: 1px solid $color-boilerplate-gray-medium;
					}
				}
					.dec-public-form__input-error {
						border: 1px solid $color-error-dark;
						color: $color-error-dark;
						padding: 5px 10px;
						margin: 5px 0;
					}
					.dec-public-form__input-label {
						line-height: 1.1;
						margin: 5px 0;
					}
					.dec-public-form__input-note {
						font-size: .8em;
						font-style: italic;
						margin: 5px 0;
					}
					.dec-public-form__input-field {
						margin: 5px 0;
						/* Text inputs */
						input[type='text'],
						input[type='email'],
						input[type='tel'],
						input[type='url'],
						input[type='password'] {
							display: block;
							width: 100%;
							padding: 10px;
							background-color: #fff;
							border: 1px solid $color-boilerplate-gray-dark;
							border-radius: 0;
							font-size: 1em; // Must be at least 16px to avoid mobile zooming
						}
						&--small-input {
							input[type='text'],
							input[type='email'],
							input[type='tel'],
							input[type='url'],
							input[type='password'] {
								display: inline-block;
								width: 100px;
							}
						}
						textarea {
							display: block;
							width: 100%;
							padding: 10px;
							background-color: #fff;
							border: 1px solid $color-boilerplate-gray-dark;
							min-height: 125px;
							border-radius: 0;
							font-size: 1em; // Must be at least 16px to avoid mobile zooming
						}
						&--small-input {
							textarea {
								min-height: 50px;
							}
						}
						/* File inputs */
						input[type='file'] {
							max-width: 100%;	
						}
						/* Select inputs */
						select {
							display: block;
							width: 100%;
							font-size: 1em; // Must be at least 16px to avoid mobile zooming
						}
						&--small-input {
							select {
								display: inline-block;
								max-width: 100px;
							}
						}
						/* Checkbox and radio inputs */
						input[type='radio'],
						input[type='checkbox'] {
							display: inline-block;
						}
						label {
							display: inline-block;
							padding: 0 2px;
							margin-right: 15px;
						}
					}
		.dec-public-form__actions {
			button {
				margin: 5px 0;
				display: inline-block;
				background-color: $color-boilerplate-gray-dark;
				padding: 10px 15px;
				color: #fff;
				border: none;
				cursor: pointer;
				line-height: 1;
				border-radius: 0;
				&:hover, &:active, &:focus {
					background-color: $color-boilerplate-gray-medium;
				}
			}
		}
