/*==============================================================================================================================
 DIRECTORY
==============================================================================================================================*/

.directory {
	@media #{$media-query-phone-only} {
		min-height: 400px;
		height: 100vh;
		.yes-c5-toolbar & {
			height: calc(100vh - 49px);
		}
		display: flex;
		flex-direction: column;
	}
	@media #{$media-query-tablet-portrait-and-larger} {
		min-height: 600px;
		height: 100vh;
		.yes-c5-toolbar & {
			height: calc(100vh - 49px);
		}
		display: grid;
		grid-template-columns: minmax(350px, 30%) 1fr;
		grid-template-rows: auto 1fr;	
	}
}
	.directory__header {
		background-color: $color-blue-medium;
		color: $color-cream-lightest;
		padding: 20px;
		@media #{$media-query-phone-only} {
			display: table;
			width: 100%;
		}
		@media #{$media-query-tablet-landscape-and-larger} {
			padding: 20px 40px;
		}
	}
		.directory__back-link-and-heading {
			@media #{$media-query-phone-only} {
				display: table-cell;
				vertical-align: top;
				white-space: nowrap;
			}
			@media #{$media-query-tablet-portrait-and-larger} {
				
			}
		}
			.directory__back-link {
				@include gl-text-regular($size: 4);
				line-height: 1;
				margin-bottom: 15px;
				a {
					color: $color-cream-lightest;
					&:before {
						content: '\003C\00A0';
					}
					&:hover, &:active, &:focus {
						color: $color-cream-lightest;
					}
				}
			}
			.directory__heading {
				h1 {					
					@media #{$media-query-phone-only} {
						@include gl-text-standout($size: 4);	
						color: $color-cream-lightest;
						margin-bottom: 0;
					}
					@media #{$media-query-tablet-portrait-and-larger} {
						@include gl-text-standout($size: 1);
						color: $color-cream-lightest;
					}
				}
			}
		.directory__filters {
			
		}
			.directory__filters-form {
				@media #{$media-query-phone-only} {
					display: table-cell;
					vertical-align: top;
				}
				@media #{$media-query-tablet-portrait-and-larger} {
				
				}
			}
				.directory__filters-form {
					display: table;
					table-layout: fixed;
					width: 100%;
					@media #{$media-query-tablet-portrait-and-larger} {
						margin: 0 -10px;
					}
				}
					.directory__filters-input {
						display: table-cell;
						width: 50%;
						padding: 0 10px;
					}
						.directory__filters-input-label {
							//@include wc-visually-hidden();
							//@include gl-text-standout($size: 6);
							@include gl-text-regular($size: 4);
							color: #fff;
						}
						.directory__filters-input-field {
							select {
								width: 100%;
								display: block;
								@include gl-text-regular($size: 2);
								line-height: 1;
								@supports (appearance: none) {
									appearance: none;
									border-radius: 0;
									border: 1px solid $color-cream-lightest;
									background-color: transparent;
									padding: 10px 30px 10px 10px;
									background-repeat: no-repeat;
									background-position: right 10px center;
									background-image: url( #{$image-select-arrow-down-cream-lightest} );
									color: $color-cream-lightest;
								}
							}
								option {
									color: $color-gray-dark;
								}
						}
					.directory__filters-submit {
						.js & {
							@include wc-visually-hidden();
						}
					}
	.directory__map {
		position: relative;
		@media #{$media-query-phone-only} {
			min-height: 250px;
			&:before {
				content: '';
				position: absolute;
				z-index: 1;
				top: 0;
				left: 0;
				right: 0;
				height: 8px;
				background: linear-gradient(to bottom, rgba(0,0,0,.25) 0%,rgba(0,0,0,0) 100%);
				pointer-events: none;
			}
			&:after {
				content: '';
				position: absolute;
				top: 100%;
				left: 0;
				right: 0;
				height: 8px;
				background: linear-gradient(to bottom, rgba(0,0,0,.25) 0%,rgba(0,0,0,0) 100%);
				pointer-events: none;
			}
		}
		@media #{$media-query-tablet-portrait-and-larger} {
			min-height: 300px;

				grid-row: 1/3;
				grid-column: 2/3;
				&:after {
					content: '';
					position: absolute;
					top: 0;
					left: 0;
					bottom: 0;
					width: 8px;
					background: linear-gradient(to right, rgba(0,0,0,.25) 0%,rgba(0,0,0,0) 100%);
					pointer-events: none;
				}				

		}
	}
		.directory__map-embed {
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
		}
			.directory__map-info-window {
				width: 300px;
				padding: 15px 0 15px 15px;
				@include wc-clearfix();
			}
				.directory__map-info-window-copy {
					@include gl-text-regular($size: 3);
					line-height: 1.2;
					float: left;
					width: 190px;
					padding-right: 10px;
				}
					.directory__map-info-window-title {
						@include gl-text-standout($size: 6);
						margin-bottom: 5px;
					}
					.directory__map-info-window-address {
						margin-bottom: 5px;
					}
					.directory__map-info-window-phone {
						margin-bottom: 5px;
					}
					.directory__map-info-window-email {
						margin-bottom: 5px;
					}
					.directory__map-info-window-website {
						margin-bottom: 5px;
					}
					.directory__map-info-window-link {	
						margin-top: 10px;
					}
				.directory__map-info-window-image {	
					float: left;
					width: 90px;
					img {
						max-width: 100% !important;
					}
				}	
	.directory__results {
		@media #{$media-query-phone-only} {
			overflow-y: scroll;
			-webkit-overflow-scrolling: touch;
			min-height: 200px;
			flex-grow: 1;
			position: relative;
		}
		@media #{$media-query-tablet-portrait-and-larger} {
			overflow: scroll;
			-webkit-overflow-scrolling: touch;
			position: relative;
		}
	}
		.directory__results-list {
			list-style: none;
			padding: 0;
			margin: 0;
		}
			.directory__results-item {
				background-color: $color-cream-lightest;
				border: 1px solid $color-cream-medium;
				margin: 3px 0;
				display: flex;
				align-items: center;
				width: 100%;
				min-height: 110px;
				&:hover {
					border-color: $color-blue-lighter;
				}
				&--hidden {
					display: none;
				}
				&:not(.directory__results-item--hidden) {
					animation: fade-in 500ms;
				}
				&--selected-item {
					border-color: $color-red-medium;
				}
				&--no-results {
					&:hover {
						border-color: $color-cream-medium;
					}
				}
				&--ad {
					padding: 20px;
					display: block;
					height: auto;
					text-align: center;
					&:hover {
						border-color: $color-cream-medium;
					}
					a {
						display: inline-block;
						&:hover, &:active, &:focus {
							
						}
					}
						img {
							display: inline-block;
							vertical-align: middle;
						}
				}
			}
				.directory__results-item-copy {
					width: 100%;
					padding: 20px;
					flex-shrink: 0;
					@media #{$media-query-tablet-landscape-and-larger} {
						padding: 20px 40px;	
					}
					&--has-image {
						width: 66.666666666%;
					}
				}
					.directory__results-item-title {
						@include gl-text-standout($size: 5);
					}
					.directory__results-item-location {
						@include gl-text-regular($size: 2);
					}
					.directory__results-item-link {
						@include gl-text-regular($size: 2);
						a {
							
							&:hover, &:active, &:focus {
								
							}
						}
					}
				.directory__results-item-image {
					width: 33.333333333%;
					flex-shrink: 0;
					//position: relative;
					img {
						display: block;
						/*@supports (object-fit: cover) {
							position: absolute;
							top: 0;
							right: 0;
							bottom: 0;
							left: 0;
							width: 100%;
							height: 100%;
							object-fit: cover;
						}
						*/
					}
				}
