/*==============================================================================================================================
 EVENT DETAIL
==============================================================================================================================*/

.event-detail {
	> * + * {
		margin-top: 20px;
	}
}
	.event-detail__subtitle {
		@include gl-text-standout($size: 3);
	}
	.event-detail__summary {
		@include gl-text-standout($size: 5);
		font-weight: bold;
		line-height: 1.3;
		> * + * {
			margin-top: 10px;
		}
	}
		.event-detail__summary-line-1 {
			
		}
		.event-detail__summary-line-2 {
			
		}
	.event-detail__description {
		margin-top: 30px;
	}