/*==============================================================================================================================
 EVENT LIST
==============================================================================================================================*/

.event-list {

}
	.event-list__heading {
		h2 {
			
		}
	}
	.event-list__filters {
		margin-bottom: 25px;
	}
		.event-list__filters-form {
			
			@media #{$media-query-phone-only} {
				
			}
			@media #{$media-query-tablet-portrait-and-larger} {
			
			}
		}
			.event-list__filters-form {
				text-align: center;
			}
				.event-list__filters-input {
					width: 200px;
					margin: 5px auto;
					@media #{$media-query-tablet-landscape-and-larger} {
						display: inline-block;
						margin: 0 10px;
					}
				}
					.event-list__filters-input-label {
						@include wc-visually-hidden();
					}
					.event-list__filters-input-field {
						input[type='text'] {
							width: 100%;
							display: block;
							@include gl-text-regular($size: 2);
							line-height: 1;
							border-radius: 0;
							border: 1px solid $color-gray-light;
							background-color: transparent;
							padding: 8px 10px;
							color: $color-gray-dark;
						}
						select {
							width: 100%;
							display: block;
							@include gl-text-regular($size: 2);
							line-height: 1;
							@supports (appearance: none) {
								appearance: none;
								border-radius: 0;
								border: 1px solid $color-gray-light;
								background-color: transparent;
								padding: 10px 30px 10px 10px;
								background-repeat: no-repeat;
								background-position: right 10px center;
								background-image: url( #{$image-select-arrow-down-gray-dark} );
								color: $color-gray-dark;
							}
						}
							option {
								color: $color-gray-dark;
							}
					}
				.event-list__filters-loader {
					@media #{$media-query-tablet-landscape-and-larger} {
						display: inline-block;
						margin: 0 10px;
					}
				}
				.event-list__filters-submit {
					.js & {
						@include wc-visually-hidden();
					}
				}
	.event-list__list {
		list-style: none;
		padding: 0;
		margin: 0;
		&--multicolumn {
			@media #{$media-query-tablet-portrait-and-larger} {
				@supports (display: flex) {
					display: flex;
					flex-wrap: wrap;
				}
			}
		}
		&--scroll {
			max-height: 1000px;
			overflow-y: scroll;
			padding: 10px;
			
			// https://css-scroll-shadows.now.sh/?bgColor=79e5cc&shadowColor=222222&pxSize=15
			background: 
				linear-gradient(#ffffff 33%, rgba(255,255,255, 0)),
				linear-gradient(rgba(255,255,255, 0), #ffffff 66%) 0 100%,
				radial-gradient(farthest-side at 50% 0, rgba(34,34,34, 0.5), rgba(0,0,0,0)),
				radial-gradient(farthest-side at 50% 100%, rgba(34,34,34, 0.5), rgba(0,0,0,0)) 0 100%;
			background-color: #ffffff;
			background-repeat: no-repeat;
			background-attachment: local, local, scroll, scroll;
			background-size: 100% 45px, 100% 45px, 100% 15px, 100% 15px;
		}
	}
		.event-list__item {
			border-bottom: 1px solid $color-cream-medium;
			padding: 25px 10px 50px 10px;
			margin-bottom: 25px;
			@media #{$media-query-tablet-portrait-and-larger} {
				padding: 25px 25px 50px 10px;
			}
			.event-list__list--multicolumn & {
				@media #{$media-query-tablet-portrait-and-larger} {
					@supports (display: flex) {
						width: 50%;
					}
				}
			}
		}
			.event-list__item-summary-date-and-details {
				display: table;
				width: 100%;
				table-layout: fixed;
			}
				.event-list__item-summary-date {
					display: table-cell;
					text-align: center;
					vertical-align: top;
					width: 110px;
					padding: 0 20px;
				}
					.event-list__item-summary-month {
						@include gl-text-standout($size: 5);
						text-transform: uppercase;
					}
					.event-list__item-summary-day {
						@include gl-text-standout($size: 1);
						@include wc-rem(font-size, 40px);
					}
				.event-list__item-details {
					display: table-cell;
					vertical-align: top;
				}
					.event-list__item-title {
						@include gl-text-standout($size: 2);
						margin-bottom: 5px;
						a {
							&:hover, &:active, &:focus {
								
							}
						}
					}
					.event-list__item-date {
						@include gl-text-regular($size: 2);
						line-height: 1.3;
						font-weight: bold;
						margin-bottom: 5px;
					}
					.event-list__item-location {
						@include gl-text-regular($size: 2);
						line-height: 1.3;
						margin-bottom: 5px;
					}
					.event-list__item-description {
						margin-top: 10px;
					}
	.event-list__pagination {
		@include wc-clearfix();
		font-size: 1em;
		line-height: 1em;
		text-align: center;
		margin: 20px 0;
		padding-top: 20px;
		text-align: center;
	}
		.event-list__pagination-previous {
			display: inline-block;
			vertical-align: middle;
			margin: 0 20px;
			:first-child:before {
				content: '\003C\00A0';
			}
		}
		.event-list__pagination-next {
			display: inline-block;
			vertical-align: middle;
			margin: 0 20px;
			:first-child:after {
				content: '\00A0\003E';
			}
		}	