/*==============================================================================================================================
 EXPANDABLE CONTENT
==============================================================================================================================*/

.expandable-content {
	@include wc-rem(margin-bottom, 1);
	border-top: 1px solid $color-cream-medium;
}
	.expandable-content__item {
		border-bottom: 1px solid $color-cream-medium;
	}
		.expandable-content__heading {
			h2 {
				margin: 0;
			}
				a {
					display: block;
					padding: 20px 67px 20px 0px;
					background-image: url( #{$image-expandable-content-arrow-down} );
					background-position: right 20px top 27px;
					background-repeat: no-repeat;
					background-size: 27px 19px;
					.expandable-content__item--expanded & {
						background-image: url( #{$image-expandable-content-arrow-up} );	
					}
					&:hover, &:active, &:focus {
				
					}
				}
		}
		.expandable-content__content {
			.js & {
				display: none;
			}
			.expandable-content__item--expanded & {
				display: block;
				animation: fade-in 300ms;
			}
		}
		
