/*==============================================================================================================================
 FEATURED MEMBER SUB CATEGORY
==============================================================================================================================*/

.featured-member-sub-category {
	margin-bottom: $block-bottom-spacing;
}
	.featured-member-sub-category__heading-and-link {
		
	}
		.featured-member-sub-category__heading {
			display: inline-block;
			margin-right: 50px;
			h2 {
				
			}
		}
		.featured-member-sub-category__link {
			display: inline-block;
			a:after {
				content: '\00A0\003E';
			}
		}
	.featured-member-sub-category__items {
		list-style: none;
		padding: 0;
		margin: 0 -10px;
		@include wc-clearfix();
	}
		.featured-member-sub-category__item {
			padding: 10px;
			float: left;
			@include gl-text-standout($size: 5);
			@media #{$media-query-phone-only} {
				width: 50%;
				&:nth-child(2n+1) {
					clear: left;
				}
			}
			@media #{$media-query-tablet-portrait-only} {
				width: 50%;
				&:nth-child(2n+1) {
					clear: left;
				}
			}
			@media #{$media-query-tablet-landscape-and-larger} {
				width: 25%;
				&:nth-child(4n+1) {
					clear: left;
				}
			}
		}
			a.featured-member-sub-category__item-link {
				display: block;
				&:hover, &:active, &:focus {
					text-decoration: none;
				}
			}
				.featured-member-sub-category__item-image {
					position: relative;
					background: #000;
					margin-bottom: 10px;
					height: 0;
					padding-bottom: 300px/400px * 100%;
					overflow: hidden;
					.featured-member-sub-category__item-link:hover &,
					.featured-member-sub-category__item-link:active &,
					.featured-member-sub-category__item-link:focus & {
						&:after {
							content: 'View';
							display: block;
							position: absolute;
							top: 50%;
							left: 50%;
							transform: translate(-50%, -50%);
							background-color: $color-red-medium;
							color: #fff;
							padding: 5px 10px;
						}
					}
						img {
							display: block;
							@supports (object-fit: cover) {
								position: absolute;
								top: 0;
								right: 0;
								bottom: 0;
								left: 0;
								width: 100%;
								height: 100%;
								object-fit: cover;
							}
							.featured-member-sub-category__item-link:hover &,
							.featured-member-sub-category__item-link:active &,
							.featured-member-sub-category__item-link:focus & {
								opacity: .6;
							}
						}
				}
				.featured-member-sub-category__item-text-1 {
					.featured-member-sub-category__item-link:hover &,
					.featured-member-sub-category__item-link:active &,
					.featured-member-sub-category__item-link:focus {
						text-decoration: underline;	
					}
				}
				.featured-member-sub-category__item-text-2 {
					@include gl-text-regular($size: 3);
				}