/*==============================================================================================================================
 FOOTER CTAS
==============================================================================================================================*/

.footer-ctas {
	max-width: 450px;
	margin: 0 auto;
	@media #{$media-query-tablet-portrait-and-larger} {
		@supports (display: flex) {
			display: flex;
			max-width: none;
			margin:  0 -10px;
		}
	}
}
	.footer-ctas__cta-1 {
		background-color: $color-green-medium;
		box-shadow: 0 0 8px 0 rgba(0,0,0,0.50);
		margin-bottom: 50px;
		@media #{$media-query-phone-only} {
			max-width: 450px;
			margin: 0 auto 50px;
		}
		@media #{$media-query-tablet-portrait-and-larger} {
			@supports (display: flex) {
				display: flex;
				width: 50%;
				margin: 0 10px;
			}	
		}
	}
		a.footer-ctas__cta-1-link {
			display: block;
			padding: 20px;
			min-height: 150px;
			@include wc-clearfix();
			@supports (display: flex) {
				display: flex;
				width: 100%;
			}
			@media #{$media-query-tablet-landscape-and-larger} {
				padding: 40px;
			}
			&:hover, &:active, &:focus {
				text-decoration: none;
			}
		}
			.footer-ctas__cta-1-heading {
				width: 50%;
				float: left;
				@supports (display: flex) {
					align-self: center;
				}
				h2 {
					color: $color-cream-lightest;
					a.footer-ctas__cta-1-link:hover &,
					a.footer-ctas__cta-1-link:active &,
					a.footer-ctas__cta-1-link:focus & {
						text-decoration: underline;
					}
				}
			}
			.footer-ctas__cta-1-image {
				width: 50%;
				position: relative;
				float: right;
			}
				.footer-ctas__cta-1-image-liner {
					display: block;
					@supports (display: flex) {
						position: absolute;
						bottom: -40px;
						right: 0;
						left: 20px;
					}
					//@supports (clip-path: polygon(0 0, 100% 0%, 100% 90%, 0% 100%)) {
					//	clip-path: polygon(0 0, 100% 0%, 100% 90%, 0% 100%);
						transform: rotate(5.6deg);
					//	transform-origin: left bottom;
					//}
					box-shadow: 0 0 8px 0 rgba(0,0,0,0.50);
					@media #{$media-query-tablet-landscape-and-larger} {
						bottom: -50px;
					}
					@media #{$media-query-tablet-landscape-and-larger} {
						bottom: -70px;
					}
					img {
						display: block;
					}
				}
	.footer-ctas__cta-2 {
		background-color: $color-blue-medium;
		box-shadow: 0 0 8px 0 rgba(0,0,0,0.50);
		padding: 20px;
		min-height: 150px;
		@media #{$media-query-phone-only} {
			max-width: 450px;
			margin: 0 auto 20px;
		}
		@media #{$media-query-tablet-portrait-and-larger} {
			@supports (display: flex) {
				width: 50%;
				margin: 0 10px;
			}	
		}
		@media #{$media-query-tablet-landscape-and-larger} {
			padding: 40px;
		}
	}
		.footer-ctas__cta-2-heading {
			h2 {
				color: $color-cream-lightest;
			}
		}
		.footer-ctas__cta-2-form {
			@media #{$media-query-tablet-landscape-and-larger} {
				@supports (display: flex) {
					display: flex;
				}
			}
		}
			.footer-ctas__cta-2-email {
				margin-bottom: 20px;
				@media #{$media-query-tablet-landscape-and-larger} {
					@supports (display: flex) {
						flex-grow: 1;
						margin-right: 20px;
						margin-bottom: 0;
					}
				}
				input {
					background-color: $color-cream-lightest;
					box-shadow: inset 0 1px 3px 0 rgba(0,0,0,0.50);
					display: block;
					width: 100%;
					padding: 5px 10px;
					border: 0;
					margin-bottom: 5px;
					border-radius: 0;
					@include gl-text-regular($size: 2);
					&::placeholder {
						color: $color-gray-medium;
						font-family: inherit;
					}
				}
			}
			.footer-ctas__cta-2-submit {
				button {
					@include gl-button($size: 'small');
				}
			}