/*==============================================================================================================================
 FOOTER NAV
==============================================================================================================================*/

.footer-nav {
	
}
	.footer-nav__heading {
		margin-bottom: 20px;
		h2 {
			@include gl-text-standout($size: 6);
			text-transform: uppercase;
		}
			a {
				
				&:hover, &:active, &:focus {
					
				}
			}
	}
	.footer-nav__list {
		list-style: none;
		padding: 0;
		margin: 0;
		line-height: 1;
	}
		.footer-nav__item {
			margin-bottom: 20px;
		}
			a.footer-nav__link {
				display: table;
				text-decoration: none;
				&--facebook {
					&:before {
						background-image: url(images/link-icons/facebook.svg);
						/*@supports (mask-image: none) {
							mask-image: url(images/link-icons/facebook.svg);
						}*/
					}
				}
				&--twitter {
					&:before {
						background-image: url(images/link-icons/twitter.svg);
						/*@supports (mask-image: none) {
							mask-image: url(images/link-icons/twitter.svg);
						}*/
					}
				}
				&--linkedin {
					&:before {
						background-image: url(images/link-icons/linkedin.svg);
						/*@supports (mask-image: none) {
							mask-image: url(images/link-icons/linkedin.svg);
						}*/
					}
				}
				&--instagram {
					&:before {
						background-image: url(images/link-icons/instagram.svg);
						/*@supports (mask-image: none) {
							mask-image: url(images/link-icons/instagram.svg);
						}*/
					}
				}
				&--youtube {
					&:before {
						background-image: url(images/link-icons/youtube.svg);
						/*@supports (mask-image: none) {
							mask-image: url(images/link-icons/youtube.svg);
						}*/
					}
				}
				&--email {
					&:before {
						background-image: url(images/link-icons/email.svg);
						/*@supports (mask-image: none) {
							mask-image: url(images/link-icons/email.svg);
						}*/
					}
				}
				&--has-icon {
					&:before {
						content: '';
						display: table-cell;
						vertical-align: top;
						background-position: center center;
						background-repeat: no-repeat;
						background-size: contain;
						width: 16px;
						height: 16px;
						/*@supports (mask-image: none) {
							background-color: $color-blue-medium;
							background-image: none;
							mask-size: contain;
							mask-repeat: no-repeat;
						}*/
					}
				}
				&:hover, &:active, &:focus {
					opacity: .8;
					&:before {
						/*@supports (mask-image: none) {
							background-color: $color-blue-lighter;
						}*/
					}
				}
			}
				.footer-nav__link-text {
					display: table-cell;
					vertical-align: middle;
					a.footer-nav__link--has-icon & { 
						border-left: 8px solid transparent; // spacing
					}
					a.footer-nav__link:hover &,
					a.footer-nav__link:active &,
					a.footer-nav__link:focus & {
						text-decoration: underline;
					}
				}