/*==============================================================================================================================
 HEADER MENU
==============================================================================================================================*/

.header-menu {
	@media #{$media-query-tablet-portrait-and-smaller} {
		display: none;
		&--expanded {
			display: block;
			padding-top: 30px;
			animation: fade-in 300ms;
			@supports (display: flex) {
				display: flex;
				flex-direction: column;
			}
		}
	}
	@media #{$media-query-tablet-landscape-and-larger} {
		
	}
}
	.header-menu__search {
		@media #{$media-query-tablet-portrait-and-smaller} {
			@supports (display: flex) {
				order: 1;
			}
		}
		@media #{$media-query-tablet-landscape-and-larger} {
			float: right;
			margin-left: 20px;
			margin-bottom: 5px;
			margin-top: -5px;
			width: 200px;
		}
	}
	.header-menu__utility-nav {
		@media #{$media-query-tablet-portrait-and-smaller} {
			@supports (display: flex) {
				order: 3;
			}
		}
		@media #{$media-query-tablet-landscape-and-larger} {
			overflow: hidden;
			margin-bottom: 5px;
			float: right;
			@supports (display: flex) {
				float: none;
			}
		}
	}
	.header-menu__primary-nav {
		@media #{$media-query-tablet-portrait-and-smaller} {
			@supports (display: flex) {
				order: 2;
			}
		}
		@media #{$media-query-tablet-landscape-and-larger} {
			clear: both;
		}
	}