/*==============================================================================================================================
 HEADER BRANDING
==============================================================================================================================*/

.header-branding {
	a {
		@include wc-hide-text();
		display: block;
		background-repeat: no-repeat;
		background-image: url('images/logo.png');
		background-size: contain;
		width: 100px;
		height: 62px;
		transform-origin: left top;
		@media #{$media-query-tablet-portrait-and-smaller} {
			transform: scale(2) translateY(-10px);
		}
		@media #{$media-query-tablet-landscape-and-larger} {
			transform: scale(2) translateY(-10px);
		}
		@media #{$media-query-desktop-only} {
			transform: scale(3) translateY(-15px);
		}
	}
}