/*==============================================================================================================================
 HEADER MENU TOGGLE
==============================================================================================================================*/

a.header-menu-toggle {
	display: block;
	@include gl-text-standout($size: 3);
	color: $color-blue-medium;
	line-height: 1;
	position: relative;
	padding-right: 15px;
	&:hover, &:active, &:focus {
		color: $color-blue-lighter;
		text-decoration: none;
	}
	&:after {
		content: '';
		position: absolute;
		top: 50%;
		right: 0;
		margin-top: -2px;
		width: 7px;
		height: 4px;
		background-repeat: no-repeat;
		background-position: center center;
		background-size: contain;
		background-image: url(#{$image-menu-arrow-down});
	}
}
