/*==============================================================================================================================
 HOME FEATURE
==============================================================================================================================*/

.home-feature {
	
}
	.home-feature__imagery {
		position: relative;
		text-align: center;
		font-size: 0;
		white-space: nowrap;
		overflow: hidden;
		&:before {
			content: '';
			display: inline-block;
			vertical-align: middle;
			width: 0px;
			height: 0px;
			@media #{$media-query-tablet-portrait-and-smaller} {
				padding-bottom: 500px / 700px * 100%;
			}
			@media #{$media-query-tablet-landscape-and-larger} {
				padding-bottom: 600px / 1500px * 100%;
			}
		}
	}
		.home-feature__image {
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			background-repeat: no-repeat;
			background-position: center center;
			background-size: cover;
			&--narrow {
				@media #{$media-query-tablet-landscape-and-larger} {
					display: none;
				}
			}
			&--wide {
				@media #{$media-query-tablet-portrait-and-smaller} {
					display: none;
				}
			}
		}
		.home-feature__heading {
			display: inline-block;
			vertical-align: middle;
			width: 100%;
			padding: 40px;
			white-space: normal;
			position: relative;
			@include wc-rem(font-size, 1);
			h2 {
				@include gl-text-big();
			}
		}
	.home-feature__cta {
		padding: 0 20px;
	}
		.home-feature__cta-liner {
			background-color: $color-blue-medium;
			box-shadow: 0 0 8px 0 rgba(0,0,0,0.50);
			padding: 20px;
			position: relative;
			@media #{$media-query-phone-only} {
				margin-top: -20px;
				text-align: center;
			}
			@media #{$media-query-tablet-portrait-and-larger} {
				max-width: 980px;
				margin: -75px auto 0;
				display: table;
				width: 100%;
				padding: 40px 50px;
			}
		}
		
			.home-feature__cta-copy {
				@media #{$media-query-phone-only} {
					margin-bottom: 20px;
				}
				@media #{$media-query-tablet-portrait-and-larger} {
					display: table-cell;
					vertical-align: middle;
					width: 45%;
				}
			}
				.home-feature__cta-heading {
					h3 {
						@include gl-text-standout($size: 3);
						color: $color-cream-lightest;
					}
				}
				.home-feature__cta-message {
					color: $color-cream-lightest;
				}
			.home-feature__cta-link {
				@media #{$media-query-tablet-portrait-and-larger} {
					padding: 0 25px;
					display: table-cell;
					vertical-align: middle;
					text-align: center;
				}
				a {
					@include gl-button();
					&:hover, &:active, &:focus {
						
					}
				}
			}
			.home-feature__cta-image {
				@media #{$media-query-phone-only} {
					display: none;
				}
				@media #{$media-query-tablet-portrait-and-larger} {
					display: table-cell;
					vertical-align: bottom;
					width: 23%;
					position: relative;
				}
					.home-feature__cta-image-liner {
						@media #{$media-query-tablet-portrait-and-larger} {
							position: absolute;
							bottom: -70px;
							right: 0;
							left: 0;
							box-shadow: 0 0 8px 0 rgba(0,0,0,0.50);
							//@supports (clip-path: polygon(0 0, 100% 0%, 100% 90%, 0% 100%)) {
								//clip-path: polygon(0 0, 100% 0%, 100% 90%, 0% 100%);
								transform: rotate(5.6deg);
								//transform-origin: left bottom;
							//}
						}
					}
						img {
							display: block;
						}
			}