/*==============================================================================================================================
 IMAGE
==============================================================================================================================*/

.image {
	@include wc-rem(margin-bottom, 1);
	&--alignment-1 {
		text-align: left;	
	}
	&--alignment-2 {
		text-align: center;
	}
	&--alignment-3 {
		text-align: right;
	}
	a {
		display: inline-block;
		&:hover, &:active, &:focus {
			
		}
	}
		img {
			
		}
}