/*==============================================================================================================================
 LANDING HEADING
==============================================================================================================================*/

.landing-heading {
	position: relative;
	text-align: center;
	font-size: 0;
	white-space: nowrap;
	overflow: hidden;
	&:before {
		content: '';
		display: inline-block;
		vertical-align: middle;
		width: 0px;
		height: 0px;
		@media #{$media-query-tablet-portrait-and-smaller} {
			padding-bottom: 500px / 700px * 100%;
		}
		@media #{$media-query-tablet-landscape-and-larger} {
			padding-bottom: 600px / 1500px * 100%;
		}
	}
}
	.landing-heading__image {
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		background-repeat: no-repeat;
		background-position: center center;
		background-size: cover;
		&--narrow {
			@media #{$media-query-tablet-landscape-and-larger} {
				display: none;
			}
		}
		&--wide {
			@media #{$media-query-tablet-portrait-and-smaller} {
				display: none;
			}
		}
	}
	.landing-heading__heading{
		display: inline-block;
		vertical-align: middle;
		width: 100%;
		padding: 40px;
		white-space: normal;
		position: relative;
		@include wc-rem(font-size, 1);
		h1 {
			@include gl-text-big();
		}
	}