/*==============================================================================================================================
 MAIN HEADING
==============================================================================================================================*/

.main-heading {
	h1 {
		margin: 0;
	}
}