/*==============================================================================================================================
 MEMBER LIST
==============================================================================================================================*/

.member-list {
	
}
	.member-list__heading {
		margin-bottom: 25px;
		h2 {
			
		}
	}
	.member-list__list {
		list-style: none;
		padding: 0;
		margin: 0;
		&--scroll {
			max-height: 1000px;
			overflow-y: scroll;
			padding: 10px;
			
			// https://css-scroll-shadows.now.sh/?bgColor=79e5cc&shadowColor=222222&pxSize=15
			background: 
				linear-gradient(#ffffff 33%, rgba(255,255,255, 0)),
				linear-gradient(rgba(255,255,255, 0), #ffffff 66%) 0 100%,
				radial-gradient(farthest-side at 50% 0, rgba(34,34,34, 0.5), rgba(0,0,0,0)),
				radial-gradient(farthest-side at 50% 100%, rgba(34,34,34, 0.5), rgba(0,0,0,0)) 0 100%;
			background-color: #ffffff;
			background-repeat: no-repeat;
			background-attachment: local, local, scroll, scroll;
			background-size: 100% 45px, 100% 45px, 100% 15px, 100% 15px;
		}
	}
		.member-list__item {
			
		}
			a.member-list__item-link {
				background-color: $color-cream-lightest;
				border: 1px solid $color-cream-medium;
				margin: 3px 0;
				display: table;
				width: 100%;
				height: 110px;
				.member-list__list--scroll & {
					background-color: transparent;
				}
				&:hover, &:active, &:focus {
					text-decoration: none;
					border-color: $color-blue-lighter;
				}
			}
				.member-list__item-copy {
					display: table-cell;
					vertical-align: middle;
					width: 100%;
					padding: 20px;
					@media #{$media-query-tablet-landscape-and-larger} {
						padding: 20px 40px;	
					}
					&--has-image {
						width: 66.666666666%;
						@media #{$media-query-tablet-landscape-and-larger} {
							width: calc(100% - 170px);	
						}
					}
				}
					.member-list__item-title {
						@include gl-text-standout($size: 5);
						color: $color-blue-medium;
						a.member-list__item-link:hover &,
						a.member-list__item-link:active &,
						a.member-list__item-link:focus  {
							color: $color-blue-lighter;
							text-decoration: underline;
						}
					}
					.member-list__item-location {
						@include gl-text-regular($size: 2);
					}
					.member-list__item-link {
						@include gl-text-regular($size: 2);
						a {
							
							&:hover, &:active, &:focus {
								
							}
						}
					}
				.member-list__item-image {
					display: table-cell;
					position: relative;
					width: 33.333333333%;
					@media #{$media-query-tablet-landscape-and-larger} {
						width: 170px;
					}
					img {
						@supports (object-fit: cover) {
							position: absolute;
							top: 0;
							right: 0;
							bottom: 0;
							left: 0;
							width: 100%;
							height: 100%;
							object-fit: cover;
						}
					}
				}
