/*==============================================================================================================================
 NOTIFICATION
==============================================================================================================================*/

.notification {
	text-align: center;
	background-color: $color-blue-dark;
	color: #fff;
	line-height: 1.3;
	padding: 15px 20px;
	@media #{$media-query-tablet-portrait-and-smaller} {
		@include wc-rem(font-size, 14px);
	}
	@media #{$media-query-tablet-landscape-and-larger} {
		@include wc-rem(font-size, 16px);	
	}
}
	.notification__message {
		display: inline-block;
	}
	.notification__link {
		display: inline-block;
		a {
			color: #fff;
			text-decoration: underline;
			&:hover, &:active, &:focus {
				
			}
		}
	}