/*==============================================================================================================================
 PAGE MAIN BASIC
==============================================================================================================================*/

.page-main-basic {
	@include wc-clearfix();
	padding: 50px 20px;
	max-width: $width-content-container-max;
	margin: 0 auto;
	min-height: 550px; // Giving blank or low-content pages some default height
}
	.page-main-basic__crumbs {
		margin-bottom: 30px;
	}
	.page-main-basic__heading {
		margin-bottom: 30px;
	}
	.page-main-basic__content {
		@include wc-clearfix();
	}
		.page-main-basic__main {
			min-height: 1px; // so empty main area still takes up space (otherwise sidebar will shift).
			.page-main-basic__content--has-sidebar & {
				@media #{$media-query-tablet-portrait-and-smaller} {
					margin-bottom: 50px;
				}
				@media #{$media-query-tablet-landscape-and-larger} {
					float: left;
					width: calc(100% - 300px);
					padding-right: 50px;
				}
				@media #{$media-query-desktop-only} {
					padding-right: 140px;
				}
			}
		}
		.page-main-basic__sidebar {
			@media #{$media-query-tablet-landscape-and-larger} {
				float: left;
				width: 300px;
			}
		}