/*==============================================================================================================================
 PAGE MAIN HOME
==============================================================================================================================*/

.page-main-home {
	
}
	.page-main-home__heading {
		@include wc-visually-hidden();
	}
	.page-main-home__feature {
		margin-bottom: 50px;
	}	
	
	.page-main-home__main-and-ads {
		@include wc-clearfix();
		padding: 0 20px 50px;
		max-width: $width-content-container-max;
		margin: 0 auto;
		min-height: 450px; // Giving blank or low-content pages some default height
	}
		.page-main-home__main {
			min-height: 1px; // so empty main area still takes up space (otherwise ads will shift).
			@media #{$media-query-tablet-portrait-and-smaller} {
				margin-bottom: 50px;
			}
			@media #{$media-query-tablet-landscape-and-larger} {
				float: left;
				width: calc(100% - 300px);
				padding-right: 50px;
			}
			@media #{$media-query-desktop-only} {
				padding-right: 140px;
			}
		}
		.page-main-home__ads {
			@media #{$media-query-tablet-landscape-and-larger} {
				float: left;
				width: 300px;
			}
		}