/*==============================================================================================================================
 PAGE MAIN LANDING
==============================================================================================================================*/

.page-main-landing {
	
}
	.page-main-landing__heading {
		padding-bottom: 20px;
	}
	.page-main-landing__crumbs {
		padding: 0 20px;
		max-width: $width-content-container-max;
		margin: 0 auto 30px;
	}
	.page-main-landing__content {
		@include wc-clearfix();
		padding: 0 20px 50px;
		max-width: $width-content-container-max;
		margin: 0 auto;
		min-height: 450px; // Giving blank or low-content pages some default height
	}
		.page-main-landing__main {
			min-height: 1px; // so empty main area still takes up space (otherwise sidebar will shift).
			.page-main-landing__content--has-sidebar & {
				@media #{$media-query-tablet-portrait-and-smaller} {
					margin-bottom: 50px;
				}
				@media #{$media-query-tablet-landscape-and-larger} {
					float: left;
					width: calc(100% - 300px);
					padding-right: 50px;
				}
				@media #{$media-query-desktop-only} {
					padding-right: 140px;
				}
			}
		}
		.page-main-landing__sidebar {
			@media #{$media-query-tablet-landscape-and-larger} {
				float: left;
				width: 300px;
			}
		}