/*==============================================================================================================================
 PHOTO SLIDER
==============================================================================================================================*/

.photo-slider {
	@include wc-rem(margin-bottom, 1);
	max-width: 1000px;
	margin-left: auto;
	margin-right: auto;
}
	.photo-slider__liner {
		position: relative;
	}
		.photo-slider__image-list-and-controls {
			position: relative;
		}
			.photo-slider__image-list {
				width: 100%;
				height: 0;
				padding-bottom: 600px / 1200px * 100%;
				overflow: hidden;
			}
				.photo-slider__image-item {
					width: 100%;
				}
					a.photo-slider__image-link {
						display: block;
						width: 100%;
						height: 0;
						padding-bottom: 600px / 1200px * 100%;
						position: relative;
						img {
							object-fit: cover; // The images should be sized/scaled properly already, but just in case...
							display: block;
							position: absolute;
							top: 0;
							right: 0;
							bottom: 0;
							left: 0;
							height: 100%;
							width: 100%;
						}
					}
			.photo-slider__controls {
				position: absolute;
				height: 0;
				top: 50%;
				left: 0;
				width: 100%;
				margin-top: -13px;
				@media #{$media-query-tablet-portrait-only} {
					margin-top: -20px;
				}
				@media #{$media-query-tablet-landscape-and-larger} {
					margin-top: -25px;
				}
			}
				.photo-slider__controls-previous,
				.photo-slider__controls-next {
					position: absolute;
					padding: 0;
					border: none;
					background-repeat: no-repeat;
					background-position: center center;
					background-color: $color-red-medium;
					background-size: 9px 15px;
					@include wc-hide-text();
					width: 50px;
					height: 50px;
					border-radius: 0;
					appearance: none;
					cursor: pointer;
					&:hover, &:active, &:focus {
						background-color: $color-red-light;
					}
				}
				.photo-slider__controls-previous {
					left: 0px;
					background-image: url( #{$image-photo-slider-arrow-left} );
					&:hover, &:active, &:focus {
						
					}
				}
				.photo-slider__controls-next {
					right: 0px;
					background-image: url( #{$image-photo-slider-arrow-right} );
					&:hover, &:active, &:focus {
						
					}
				}
		.photo-slider__pagination {
			
		}
			ol.photo-slider__pagination-list {
				list-style: none;
				padding: 0;
				margin: 5px 0;
				text-align: center;
				line-height: 1;
			}
				.photo-slider__pagination-item {
					display: inline-block;
				}
					.photo-slider__pagination-link {
						display: inline-block;
						padding: 10px 5px;
						span {
							background-color: $color-gray-light;
							border-radius: 100%;
							display: block;
							height: 8px;
							width: 8px;
							@include wc-hide-text();
							transition: transform 150ms;
						}
						&:hover {
							span {
								background-color: $color-gray-dark;
								transform: scale(1.2);
							}
						}
						.photo-slider__pagination-item--active & {
							span {
								background-color: $color-gray-dark;
							}
						}
					}