/*==============================================================================================================================
 PHOTO CTA
==============================================================================================================================*/

.photo-cta {
	@include wc-rem(margin-bottom, 1);
}
	.photo-cta__liner {
		text-align: center;
		position: relative;
		font-size: 0;
		white-space: nowrap;
		overflow: hidden;
		&:before {
			content: '';
			display: inline-block;
			vertical-align: middle;
			width: 0px;
			height: 0px;
			@media #{$media-query-tablet-portrait-and-smaller} {
				padding-bottom: 400px / 700px * 100%;
			}
			@media #{$media-query-tablet-landscape-and-larger} {
				padding-bottom: 500px / 1300px * 100%;
			}
		}
	}
		.photo-cta__image {
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			background-repeat: no-repeat;
			background-position: center center;
			background-size: cover;
			&--narrow {
				@media #{$media-query-tablet-landscape-and-larger} {
					display: none;
				}
			}
			&--wide {
				@media #{$media-query-tablet-portrait-and-smaller} {
					display: none;
				}
			}
		}
		.photo-cta__content {
			position: relative;
			display: inline-block;
			vertical-align: middle;
			white-space: normal;
			@include wc-rem(font-size, 1);
			padding: 20px;
		}
			.photo-cta__content-liner {
				
			}
				.photo-cta__heading {
					h2 {
						@include gl-text-big();
					}
				}
				.photo-cta__link {
					a {
						@include gl-button();
					}
				}