/*==============================================================================================================================
 PRIMARY NAV
 Note about media queries for this nav module...
 There are 2 different menu styles: narrow screen and wide screen.
 Unlike a "mobile first" approach, there is *no* default style (nothing that is outside a media query)...
 because the narrow and wide menus are so completely different,
 having one override the other would require a lot of extra messy CSS...
 so by completely isolating narrow from wide styles, we can keep the CSS for each focused on what they are
 and not on "resetting" the defaults. This means that people on IE8 without javascript (no respond.js polyfill)
 will see an unstyled list. We think this is an acceptable trade-off to keeping the already-complex CSS simpler.
==============================================================================================================================*/

// Narrow screen
@media #{$media-query-tablet-portrait-and-smaller} {
	.primary-nav {
		line-height: 1;
	}
		// Empty divs used by javascript to detect narrow vs wide
		.primary-nav__responsive-tester {
			&--narrow {
				display: block;
			}
			&--wide {
				display: none;
			}
		}
		.primary-nav__heading {
			@include wc-visually-hidden();
		}
		// Level 1
		ul.primary-nav__list--level-1 {
			list-style: none;
			padding: 0 0 0 0;
			margin: 0;
			background-color: $color-cream-light;
			border-bottom: 1px solid $color-cream-medium;
		}
			.primary-nav__item--level-1 {
				display: block;
				border-top: 1px solid $color-cream-medium;
				@include gl-text-standout($size: 4);
				line-height: 1.3
			}
				.primary-nav__link-and-toggle--level-1 {
					position: relative;
				}
					a.primary-nav__link--level-1 {
						display: block;
						text-decoration: none;
						padding: 20px;
						&.primary-nav__link--has-children {
							
						}
						&.primary-nav__link--in-current-page-path {
	
						}
						&.primary-nav__link--current-page {
							
						}
						&:hover, &:active, &:focus {
							
						}
					}
					.primary-nav__children-toggle--level-1 {
						position: absolute;
						top: 0;
						right: 0;
						bottom: 0;
						width: 60px;
						height: 100%;
						background-image: url(#{$image-primary-nav-arrow-down-blue-medium});
						background-repeat: no-repeat;
						background-position: center center;
						background-color: transparent;
						border: none;
						border-left: 1px solid $color-cream-medium;
						border-radius: 0;
						appearance: none;
						@include wc-hide-text();
						padding: 0;
						&:hover, &:active, &:focus {
							
						}
					}
				// Level 2
				ul.primary-nav__list--level-2 {
					display: none;
					&.primary-nav__list--expanded {
						display: block;
						list-style: none;
						padding: 0;
						margin: 0;
						border-top: 1px solid $color-cream-medium;
						background-color: $color-cream-lighter;
						animation: fade-in 300ms;
					}
				}
					.primary-nav__item--level-2 {
						border-bottom: 1px solid $color-cream-medium;
						&:last-of-type {
							border: none;
						}
					}
						.primary-nav__link-and-toggle--level-2 {
							position: relative;
						}
							a.primary-nav__link--level-2 {
								display: block;
								text-decoration: none;
								padding: 20px 20px 20px 40px;
								&.primary-nav__link--has-children {
									
								}
								&.primary-nav__link--in-current-page-path {
									
								}
								&.primary-nav__link--current-page {
									
								}
								&:hover, &:active, &:focus {
									
								}
							}
							.primary-nav__children-toggle--level-2 {
								position: absolute;
								top: 0;
								right: 0;
								bottom: 0;
								width: 60px;
								height: 100%;
								background-image: url(#{$image-primary-nav-arrow-down-blue-medium});
								background-repeat: no-repeat;
								background-position: center center;
								background-color: transparent;
								border: none;
								border-left: 1px solid $color-cream-medium;
								border-radius: 0;
								appearance: none;
								@include wc-hide-text();
								padding: 0;
								&:hover, &:active, &:focus {
								
								}
							}
						// Level 3
						ul.primary-nav__list--level-3 {
							display: none;
							&.primary-nav__list--expanded {
								display: block;
								list-style: none;
								padding: 0;
								margin: 0;
								background-color: $color-cream-lightest;
								border-top: 1px solid $color-cream-medium;
								animation: fade-in 300ms;
							}
						}
							.primary-nav__item--level-3 {
								border-bottom: 1px solid $color-cream-medium;
								@include gl-text-regular($size: 2);
								line-height: 1.3;
								&:last-of-type {
									border: none;
								}
							}
								a.primary-nav__link--level-3 {
									display: block;
									text-decoration: none;
									padding: 10px 20px 10px 80px;
									&.primary-nav__link--in-current-page-path {
										
									}
									&.primary-nav__link--current-page {
										
									}
									&:hover, &:active, &:focus {
										
									}
								}
}

// Wide screen
@media #{$media-query-tablet-landscape-and-larger} {
	.primary-nav {
		line-height: 1;
		text-align: right;
	}
		// Empty divs used by javascript to detect narrow vs wide
		.primary-nav__responsive-tester {
			&--narrow {
				display: none;
			}
			&--wide {
				display: block;
			}
		}
		.primary-nav__heading {
			@include wc-visually-hidden();
		}
		// Level 1
		ul.primary-nav__list--level-1 {
			list-style: none;
			padding: 0;
			margin: 0;
			@include gl-text-standout($size: 3);
			line-height: 1.3;
			@supports (display: flex) {
				display: flex;
				justify-content: flex-end;
			}
		}
			.primary-nav__item--level-1 {
				display: inline-block;
				vertical-align: middle;
				position: relative;
				@media #{$media-query-desktop-only} {
					margin: 0 10px;	
					&:first-child {
						margin-left: 0;
					}
					&:last-child {
						margin-right: 0;
					}
				}
				&.primary-nav__item--full-width-child {
					position: static;
				}
			}
				.primary-nav__link-and-toggle--level-1 {
					position: relative;
				}
					a.primary-nav__link--level-1 {
						text-decoration: none;
						display: block;
						padding: 10px 20px 25px;
						position: relative;
						&.primary-nav__link--has-children {
							padding-right: 25px;
						}
						&.primary-nav__link--in-current-page-path {
							
						}
						&.primary-nav__link--current-page {
							
						}
						&:hover, &:active, &:focus {
							
						}
					}
					.primary-nav__children-toggle--level-1 {
						pointer-events: none; // Removes clicking/tapping, but keeps it focusable for keyboard navigation.
						display: block;
						position: absolute;
						top: 0;
						right: 10px;
						bottom: 0;
						width: 7px;
						height: 100%;
						background-image: url(#{$image-primary-nav-arrow-down-blue-medium});
						background-repeat: no-repeat;
						background-position: center 20px;
						background-color: transparent;
						border: none;
						border-radius: 0;
						appearance: none;
						@include wc-hide-text();
						padding: 0;
						&:hover, &:active, &:focus {
							
						}
					}
				// Level 2
				ul.primary-nav__list--level-2 {
					display: none;
					.primary-nav__item--level-1:hover &,
					&.primary-nav__list--expanded {
						text-align: left;
						background-color: $color-cream-light;
						//box-shadow: 0 3px 3px 0 rgba(0,0,0,0.250);
						box-shadow: 0 8px 18px 0 rgba(0,0,0,0.50);
						display: block;
						list-style: none;
						padding: 10px 0;
						margin: 0 0 0 -100px;
						width: 200px;
						position: absolute;
						z-index: 1;
						left: 50%;
						animation: fade-in 300ms;
						@include gl-text-standout($size: 5);
						line-height: 1.3;
						&.primary-nav__list--full-width {
							width: 100vw;
							padding: 50px 20px;
							max-width: $width-content-container-max;
							margin: 0 auto;
							left: 0;
							right: 0;
							box-shadow: none;
							&:before {
								content: '';
								background-color: $color-cream-light;
								position: absolute;
								top: 0;
								bottom: 0;
								left: 0;
								width: 100vw;
								margin-left: calc(50% - 50vw);
								box-shadow: 0 8px 18px 0 rgba(0,0,0,0.50);
							}
						}
					}
				}
					.primary-nav__item--level-2 {
						position: relative;
						.primary-nav__list--full-width & {
							margin-bottom: 30px;
							float: left;
							width: 16.666666666%;
							&:nth-child(6n+1) {
								clear: left;
							}
						}
					}
						.primary-nav__link-and-toggle--level-2 {
							position: relative;
						}
							a.primary-nav__link--level-2 {
								display: block;
								padding: 5px 20px;
								text-decoration: none;
								margin-bottom: 5px;
								&.primary-nav__link--has-children {
									//padding-right: 25px;
								}
								&.primary-nav__link--in-current-page-path {
									
								}
								&.primary-nav__link--current-page {
									
								}
								&:hover, &:active, &:focus {
									
								}
							}
							.primary-nav__children-toggle--level-2 {
								display: none;
							}
						// Level 3
						ul.primary-nav__list--level-3 {
							list-style: none;
							margin: 0;
							padding: 0;
						}
							.primary-nav__item--level-3 {
								@include gl-text-regular($size: 2);
								line-height: 1.3;
							}
								a.primary-nav__link--level-3 {
									display: block;
									padding: 5px 20px;
									text-decoration: none;
									&.primary-nav__link--in-current-page-path {

									}
									&.primary-nav__link--current-page {

									}
									&:hover, &:active, &:focus {
										
									}
								}
								
}
