/*==============================================================================================================================
 SECTION NAV
==============================================================================================================================*/

.section-nav {
	@include wc-clearfix();
	margin-bottom: $block-bottom-spacing;
}
	.section-nav__list--level-1 {
		list-style: none;
		padding: 0;
		margin: 0 -10px;
		@include gl-text-standout($size: 2);
	}
		.section-nav__item--level-1 {
			padding: 0 10px;
			margin-bottom: 30px;
			float: left;
			@media #{$media-query-phone-only} {
				width: 50%;
				&:nth-child(2n+1) {
					clear: left;
				}
			}
			@media #{$media-query-tablet-portrait-only} {
				width: 33.333333333%;
				&:nth-child(3n+1) {
					clear: left;
				}
			}
			@media #{$media-query-tablet-landscape-and-larger} {
				width: 16.666666666%;
				&:nth-child(6n+1) {
					clear: left;
				}
			}
		}
			a.section-nav__item-link--level-1 {
				margin-bottom: 15px;
				display: inline-block;
				&:hover, &:active, &:focus {
					
				}
			}
			.section-nav__list--level-2 {
				list-style: none;
				padding: 0;
				margin: 0;
				@include gl-text-regular($size: 1);
			}
				.section-nav__item--level-2 {
					line-height: 1.3;
					margin-bottom: 10px;
				}
					a.section-nav__item-link--level-2 {
						display: inline-block;
						&:hover, &:active, &:focus {
							
						}
					}