/*==============================================================================================================================
 SHARE
==============================================================================================================================*/

.share {
	
}
	.share__heading {
		display: inline-block;
		vertical-align: bottom;
		margin-right: 10px;
		h2 {
			@include gl-text-standout($size: 5);
			margin-bottom: 5px;
			line-height: 1;
		}
	}
	.share__link-list {
		display: inline-block;
		vertical-align: middle;
		list-style: none;
		padding: 0;
		margin: 0 -10px;
	}
		.share__link-item {
			display: inline-block;
			vertical-align: middle;
			margin: 0 10px;
		}
			a.share__link.share__link {
				display: inline-block;
				vertical-align: middle;
				white-space: nowrap;
				&--facebook {
					&:before {
						background-image: url(images/link-icons/facebook.svg);
						/*@supports (mask-image: none) {
							mask-image: url(images/link-icons/facebook.svg);
						}*/
					}
				}
				&--twitter {
					&:before {
						background-image: url(images/link-icons/twitter.svg);
						/*@supports (mask-image: none) {
							mask-image: url(images/link-icons/twitter.svg);
						}*/
					}
				}
				&--linkedin {
					&:before {
						background-image: url(images/link-icons/linkedin.svg);
						/*@supports (mask-image: none) {
							mask-image: url(images/link-icons/linkedin.svg);
						}*/
					}
				}
				&--instagram {
					&:before {
						background-image: url(images/link-icons/instagram.svg);
						/*@supports (mask-image: none) {
							mask-image: url(images/link-icons/instagram.svg);
						}*/
					}
				}
				&--youtube {
					&:before {
						background-image: url(images/link-icons/youtube.svg);
						/*@supports (mask-image: none) {
							mask-image: url(images/link-icons/youtube.svg);
						}*/
					}
				}
				&--email {
					&:before {
						background-image: url(images/link-icons/email.svg);
						/*@supports (mask-image: none) {
							mask-image: url(images/link-icons/email.svg);
						}*/
					}
				}
				&:before {
					content: '';
					display: inline-block;
					vertical-align: middle;
					background-position: center center;
					background-repeat: no-repeat;
					background-size: contain;
					width: 20px;
					height: 20px;
					/*@supports (mask-image: none) {
						background-color: $color-blue-medium;
						background-image: none;
						mask-size: contain;
						mask-repeat: no-repeat;
					}*/
				}
				&:hover, &:active, &:focus {
					opacity: .8;
					&:before {
						/*@supports (mask-image: none) {
							background-color: $color-blue-lighter;
						}*/
					}
				}
			}
				.share__link-text {
					@include wc-visually-hidden();
					a.footer-nav__link:hover &,
					a.footer-nav__link:active &,
					a.footer-nav__link:focus & {
						
					}
				}