/*==============================================================================================================================
 SITE SEARCH
==============================================================================================================================*/

.site-search {
	@media #{$media-query-tablet-portrait-and-smaller} {
		padding: 20px;
	}
	@media #{$media-query-tablet-landscape-and-larger} {
		
	}
}	
	.site-search__form {
		position: relative;
	}
		.site-search__input {
			
		}
			.site-search__input-label {
				@include  gl-text-regular($size: 2);
				position: absolute;
				top: 2px;
				left: 10px;
				color: $color-gray-medium;
				&--hidden {
					@include wc-visually-hidden();
				}
			}
			.site-search__input-field {
				input {
					@include  gl-text-regular($size: 2);
					line-height: 1;
					display: block;
					width: 100%;
					padding: 5px 30px 5px 10px;
					background-color: #fff;
					border: none;
					border-radius: 0;
					box-shadow: inset 0 1px 3px 0 rgba(0,0,0,0.50);
				}
			}
		.site-search__submit {
			button {
				position: absolute;
				top: 6px;
				right: 8px;
				width: 20px;
				height: 20px;
				background: transparent;
				background-image: url(images/search.svg);
				background-size: 20px 20px;
				background-repeat: no-repeat;
				border: 0;
				padding: 0;
				@include wc-hide-text();
			}
		}