/*==============================================================================================================================
 SOCIAL NAV
==============================================================================================================================*/

.social-nav {
	@include wc-rem(margin-bottom, 1);
}
	.social-nav__list {
		list-style: none;
		padding: 0;
		margin: 0 -10px;
		line-height: 1;
	}
		.social-nav__item {
			display: inline-block;
			margin: 0 10px;
		}
			a.social-nav__link {
				display: inline-block;
				vertical-align: middle;
				white-space: nowrap;
				&--facebook {
					&:before {
						background-image: url(images/link-icons/facebook.svg);
						/*@supports (mask-image: none) {
							mask-image: url(images/link-icons/facebook.svg);
						}*/
					}
				}
				&--twitter {
					&:before {
						background-image: url(images/link-icons/twitter.svg);
						/*@supports (mask-image: none) {
							mask-image: url(images/link-icons/twitter.svg);
						}*/
					}
				}
				&--linkedin {
					&:before {
						background-image: url(images/link-icons/linkedin.svg);
						/*@supports (mask-image: none) {
							mask-image: url(images/link-icons/linkedin.svg);
						}*/
					}
				}
				&--instagram {
					&:before {
						background-image: url(images/link-icons/instagram.svg);
						/*@supports (mask-image: none) {
							mask-image: url(images/link-icons/instagram.svg);
						}*/
					}
				}
				&--youtube {
					&:before {
						background-image: url(images/link-icons/youtube.svg);
						/*@supports (mask-image: none) {
							mask-image: url(images/link-icons/youtube.svg);
						}*/
					}
				}
				&--email {
					&:before {
						background-image: url(images/link-icons/email.svg);
						/*@supports (mask-image: none) {
							mask-image: url(images/link-icons/email.svg);
						}*/
					}
				}
				&--has-icon {
					&:before {
						content: '';
						display: inline-block;
						vertical-align: middle;
						background-position: center center;
						background-repeat: no-repeat;
						background-size: contain;
						width: 20px;
						height: 20px;
						/*@supports (mask-image: none) {
							background-color: $color-blue-medium;
							background-image: none;
							mask-size: contain;
							mask-repeat: no-repeat;
						}*/
					}
				}
				&:hover, &:active, &:focus {
					opacity: .8;
					&:before {
						/*@supports (mask-image: none) {
							background-color: $color-blue-lighter;
						}*/
					}
				}
			}
				.social-nav__link-text {
					@include wc-visually-hidden();
					a.footer-nav__link:hover &,
					a.footer-nav__link:active &,
					a.footer-nav__link:focus & {
						
					}
				}