/*==============================================================================================================================
 SPACER
==============================================================================================================================*/

.spacer {
	position: relative;

	// Size
	&--size-1 {
		height: 10px;
	}
	&--size-2 {
		height: 20px;
	}
	&--size-3 {
		height: 30px;
	}
	&--size-4 {
		height: 40px;
	}
	&--size-5 {
		height: 50px;	
	}
	&--size-6 {
		height: 60px;	
	}
	&--size-7 {
		height: 70px;	
	}
	&--size-8 {
		height: 80px;	
	}
	&--size-9 {
		height: 90px;	
	}
	&--size-10 {
		height: 100px;	
	}

	// Style	
	&--style-1 {
		
	}
	&--style-2 {
		&:before {
			content: '';
			position: absolute;
			top: 50%;
			height: 1px;
			background-color: $color-cream-medium;
			width: 100vw;
			margin-left: calc(50% - 50vw);
		}
	}
	&--style-3 {
		&:before {
			content: '';
			position: absolute;
			top: 50%;
			height: 1px;
			background-color: $color-cream-medium;
			width: 100%;
		}
	}
}
