/*==============================================================================================================================
 THE PAGE
 These are styles intended for "the-page" block itself
 (overall page layout and backgrounds mostly,
 but NOT defaults/globals that cascade down to children).
==============================================================================================================================*/

.the-page {
	min-height: 100vh; // Make at least as tall as the entire screen (helpful if a background color needs to go full-height)
	.yes-c5-toolbar & {
		min-height: calc(100vh - 49px);
	}
	@include gl-text-regular($size: 1);
	background-color: $color-cream-lightest;
	max-width: 2000px;
	margin: 0 auto;
	overflow-x: hidden; // Unfortunate fix needed to prevent a horizontal scrollbar when elements have 100vw width and a vertical scrollbar is present (in some browsers).
}

	// Skip to main content link
	.the-page__skip-to-main-link {
		@include wc-visually-hidden();
	}
	
	.the-page__notification {
		min-height: 50px;
		background-color: $color-blue-dark;
		@media #{$media-query-desktop-only} {
			padding: 0 300px;
		}
	}

	// Header
	.the-page__header {
		position: relative; z-index: 2; // Ensure header elements (eg: dropdown) sits above everything else.
		background-color: $color-cream-lighter;
	}
		.the-page__header-liner {
			@media #{$media-query-tablet-portrait-and-smaller} {
				@include wc-clearfix();
			}
			@media #{$media-query-tablet-landscape-and-larger} {
				display: table;
				width: 100%;
			}
		}
			.the-page__header-branding {
				position: relative;
				z-index: 2;
				@media #{$media-query-tablet-portrait-and-smaller} {
					float: left;
					padding: 10px;
				}
				@media #{$media-query-tablet-landscape-and-larger} {
					display: table-cell;
					vertical-align: top;
					padding: 10px 120px 10px 20px;
					width: 100px;
				}
				@media #{$media-query-desktop-only} {
					padding-right: 215px;
					padding-bottom: 30px;
				}
			}
			.the-page__header-menu-toggle {
				@media #{$media-query-tablet-portrait-and-smaller} {
					float: right;
					padding: 30px 20px 20px 0;
				}
				@media #{$media-query-tablet-landscape-and-larger} {
					display: none;
				}
			}
			.the-page__header-menu {
				@media #{$media-query-tablet-portrait-and-smaller} {
					clear: both;
					background-color: $color-cream-light;
				}
				@media #{$media-query-tablet-landscape-and-larger} {
					display: table-cell;
					vertical-align: middle;
					padding: 20px 20px 0px;
				}
			}

	// Main
	.the-page__main {
		@include wc-clearfix();
		position: relative; z-index: 1; // Ensure header elements (eg: dropdown) sits above everything else.
		background-image: url(images/background-texture.png);
		background-size: 150px;
		@media #{$media-query-tablet-portrait-and-larger} {
			padding-bottom: 100px;
			&.the-page__main--no-footer {
				padding-bottom: 0;
			}
		}
	}
		.the-page__main-liner {
			
		}
			
	// Footer
	.the-page__footer {
		position: relative; z-index: 1; // Ensure header elements (eg: dropdown) sits above everything else.
	}
		.the-page__footer-liner {
			padding: 50px 20px 50px;
			max-width: $width-content-container-max;
			margin: 0 auto;
		}
			.the-page__footer-ctas {
				@media #{$media-query-phone-only} {
					margin-bottom: 50px;
				}
				@media #{$media-query-tablet-portrait-and-larger} {
					max-width: 980px;
					margin: -125px auto 50px;
				}
			}
			.the-page__footer-misc-content {
				@include wc-clearfix();
				margin: 0 -10px;
				@include gl-text-regular($size: 3);
			}
				.the-page__footer-misc-content-item {
					float: left;
					padding: 0 10px;
					@media #{$media-query-tablet-portrait-and-smaller} {
						width: 50%;
						&--1 {
							margin-bottom: 20px;	
						}
						&--2 {
							margin-bottom: 20px;
						}
						&--3 {
							margin-bottom: 20px;
							clear: left;
						}
						&--4 {
							margin-bottom: 20px;
						}
						&--5 {
							clear: left;
						}
						&--6 {
							
						}
					}
					@media #{$media-query-tablet-landscape-and-larger} {
						width: 15%;
						&--6 {
							width: 25%;
						}
					}
				}
			.the-page__footer-social {
				text-align: center;
				margin-bottom: 20px;
			}
			.the-page__footer-copyright {
				text-align: center;
				@include gl-text-regular($size: 4);
				:last-child {
					margin-bottom: 0;
				}
			}
			.the-page__footer-credits {
				text-align: center;
				@include gl-text-regular($size: 4);
			}