/*==============================================================================================================================
 TOURISM REGIONS
==============================================================================================================================*/

.tourism-regions {
	
}
	.tourism-regions__heading {
		h2 {
			@include gl-text-standout($size: 6);
			text-transform: uppercase;
		}
	}
	.tourism-regions__map {
		position: relative;
		height: 0;
		padding-bottom: 181px / 293px * 100%;
		svg {
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			width: 100%;
			height: 100%;
		}
			a {
				cursor: pointer;
				path {
					fill: $color-cream-medium;
				}
				&:hover, &:active, &:focus {
					path {
						fill: $color-red-light;
					}
				}
			}
	}