/*==============================================================================================================================
 UTILITY NAV
==============================================================================================================================*/

.utility-nav {
	
}
	.utility-nav__heading {
		@include wc-visually-hidden();
		h2 {
			
		}
	}
	.utility-nav__list {
		list-style: none;
		padding: 0;
		margin: 0;
		@include wc-rem(font-size, 16px);
		line-height: 1;
		@media #{$media-query-tablet-portrait-and-smaller} {
			
		}
		@media #{$media-query-tablet-landscape-and-larger} {
			@supports (display: flex) {
				display: flex;
				justify-content: flex-end;
			}
		}
	}
		.utility-nav__item {
			@media #{$media-query-tablet-portrait-and-smaller} {
				border-bottom: 1px solid $color-cream-medium;
			}
			@media #{$media-query-tablet-landscape-and-larger} {
				display: inline-block;
				margin: 0 5px;
			}
		}
			a.utility-nav__link {
				display: table;
				text-decoration: none;
				@media #{$media-query-tablet-portrait-and-smaller} {
					width: 100%;
					padding: 20px;
					background-color: $color-cream-light;
				}
				@media #{$media-query-tablet-landscape-and-larger} {
					margin: 0 10px;
				}
				&--facebook {
					&:before {
						background-image: url(images/link-icons/facebook.svg);
						/*@supports (mask-image: none) {
							mask-image: url(images/link-icons/facebook.svg);
						}*/
					}
				}
				&--twitter {
					&:before {
						background-image: url(images/link-icons/twitter.svg);
						/*@supports (mask-image: none) {
							mask-image: url(images/link-icons/twitter.svg);
						}*/
					}
				}
				&--linkedin {
					&:before {
						background-image: url(images/link-icons/linkedin.svg);
						/*@supports (mask-image: none) {
							mask-image: url(images/link-icons/linkedin.svg);
						}*/
					}
				}
				&--instagram {
					&:before {
						background-image: url(images/link-icons/instagram.svg);
						/*@supports (mask-image: none) {
							mask-image: url(images/link-icons/instagram.svg);
						}*/
					}
				}
				&--youtube {
					&:before {
						background-image: url(images/link-icons/youtube.svg);
						/*@supports (mask-image: none) {
							mask-image: url(images/link-icons/youtube.svg);
						}*/
					}
				}
				&--email {
					&:before {
						background-image: url(images/link-icons/email.svg);
						/*@supports (mask-image: none) {
							mask-image: url(images/link-icons/email.svg);
						}*/
					}
				}
				&--has-icon {
					&:before {
						content: '';
						display: table-cell;
						vertical-align: top;
						background-position: center center;
						background-repeat: no-repeat;
						background-size: contain;
						width: 16px;
						height: 16px;
						min-width: 16px;
						/*@supports (mask-image: none) {
							background-color: $color-blue-medium;
							background-image: none;
							mask-size: contain;
							mask-repeat: no-repeat;
						}*/
					}
				}
				&:hover, &:active, &:focus {
					@media #{$media-query-tablet-portrait-and-smaller} {
						
					}
					@media #{$media-query-tablet-landscape-and-larger} {
						
					}
					opacity: .8;
					&:before {
						/*
						@supports (mask-image: none) {
							background-color: $color-blue-lighter;
						}
						*/
					}
				}
			}
				.utility-nav__link-text {
					display: table-cell;
					vertical-align: middle;
					a.utility-nav__link--has-icon & { 
						border-left: 8px solid transparent; // spacing
					}
					a.utility-nav__link--text-hidden & { 
						@include wc-visually-hidden();
					}
					a.utility-nav__link:hover &,
					a.utility-nav__link:active &,
					a.utility-nav__link:focus & {
						text-decoration: underline;
					}
				}