/*==============================================================================================================================
 VIDEO EMBED
==============================================================================================================================*/

.video-embed {
	@include wc-rem(margin-bottom, 1);
}
	.video-embed__liner {
		position: relative;
		height: 0;
		padding-bottom: 315px / 560px * 100%;
		iframe {
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			height: 100%;
			width: 100%;
		}
	}