/*==============================================================================================================================
 VIDEO
==============================================================================================================================*/

.video {
	@include wc-rem(margin-bottom, 1);
	&--alignment-1 {
		text-align: left;	
	}
	&--alignment-2 {
		text-align: center;
	}
	&--alignment-3 {
		text-align: right;
	}
}
	.video__video {
		position: relative;
		display: inline-block;
	}
		.video__image {
			img {
				display: block;
			}
		}
		.video__link {
			width: 100%;
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
			text-align: center;
			a {
				border: 1px solid rgba(#fff, .8);
				display: inline-block;
				border-radius: 100%;
				width: 65px;
				height: 65px;
				@include wc-hide-text();
				background-color: rgba(#000, .5);
				background-image: url( #{$image-video-play} );
				background-size: 14px 14px;
				background-position: center center;
				background-repeat: no-repeat;
				&:hover, &:active, &:focus {
					background-color: rgba(#000, .8);
				}
			}
		}