<template>
  <div>
    <div class="ccm-pane-body">
      <h2>{{ $route.params.id ? 'Edit Member Data' : 'Create New Member' }}</h2>
      
      <div v-show="hasErrors" class="alert alert-danger">
        Cannot save member data -- please correct the following error(s):
        <ul>
          <li v-for="error in errors" v-text="error" />
        </ul>
      </div>
      
      <div v-show="isLoading">
        <img :src="spinnerImgSrc" alt="">
        <span style="vertical-align: top;">Loading...</span>
      </div>
      
      <form @submit.prevent="save" v-show="!isLoading">
        
        <div class="tabular-form">
          <div class="tabular-form__row" :class="{ 'has-error': errors.title }">
            <div class="tabular-form__label">
              <label for="title">Name:</label>
            </div>
            <div class="tabular-form__field">
              <input type="text" id="title" v-model.trim="location.title" @blur="errors.title = null">
              <span class="help-block" v-if="errors.title" v-text="errors.title" />
            </div>
          </div>
          
          <div class="tabular-form__row" :class="{ 'has-error': errors.url_slug }">
            <div class="tabular-form__label">
              <label for="url_slug">Page URL Slug:</label>
            </div>
            <div class="tabular-form__field">
              <input type="text" id="url_slug" v-model.trim="location.url_slug" @change="urlSlugAutoMode = false" @blur="errors.url_slug = null">
              <span class="help-block" v-if="errors.url_slug" v-text="errors.url_slug" />
            </div>
          </div>
          
          <div class="tabular-form__row" :class="{ 'has-error': errors.is_active }">
            <div class="tabular-form__label">
              <label for="is_active">Status:</label>
            </div>
            <div class="tabular-form__field">
              <select id="is_active" v-model="location.is_active" @change="errors.is_active = null">
                <option :value="1">Enabled</option>
                <option :value="0">Disabled</option>
              </select>
              <span class="help-block" v-if="errors.is_active" v-text="errors.is_active" />
            </div>
          </div>
          
          <div class="tabular-form__row">&nbsp;</div>
          
          <div class="tabular-form__row" :class="{ 'has-error': errors.thumbnail_photo_fID }">
            <div class="tabular-form__label">
              <label>Thumbnail Photo:</label>
            </div>
            <div class="tabular-form__field">
              <c5-file-chooser :file-id="location.thumbnail_photo_fID" :only-images="true" ref="thumbnailPhoto" />
              <span class="help-block" v-if="errors.thumbnail_photo_fID" v-text="errors.thumbnail_photo_fID" />
              <div style="font-style: italic; margin: 5px 0;">This image will be downscaled and cropped to 400x300 pixels. For best results, this image should be these dimensions or larger.</div>
            </div>
          </div>
        
          <div class="tabular-form__row">&nbsp;</div>
        
          <div class="tabular-form__row" :class="{ 'has-error': errors.website_url }">
            <div class="tabular-form__label">
              <label for="website_url">Website URL:</label>
            </div>
            <div class="tabular-form__field">
              <input type="text" id="website_url" v-model.trim="location.website_url" @blur="errors.website_url = null">
              <span class="help-block" v-if="errors.website_url" v-text="errors.website_url" />
            </div>
          </div>
          
          <div class="tabular-form__row" :class="{ 'has-error': errors.email }">
            <div class="tabular-form__label">
              <label for="email">Email Address:</label>
            </div>
            <div class="tabular-form__field">
              <input type="text" id="email" v-model.trim="location.email" @blur="errors.email = null">
              <span class="help-block" v-if="errors.email" v-text="errors.email" />
            </div>
          </div>
          
          <div class="tabular-form__row" :class="{ 'has-error': errors.phone }">
            <div class="tabular-form__label">
              <label for="phone">Phone #:</label>
            </div>
            <div class="tabular-form__field">
              <input type="text" id="phone" v-model.trim="location.phone" @blur="errors.phone = null">
              <span class="help-block" v-if="errors.phone" v-text="errors.phone" />
            </div>
          </div>
          
          <div class="tabular-form__row">&nbsp;</div>
          
          <div class="tabular-form__row" :class="{ 'has-error': errors.address_street }">
            <div class="tabular-form__label">
              <label for="address_street">Street Address:</label>
            </div>
            <div class="tabular-form__field">
              <textarea id="address_street" v-model.trim="location.address_street" @blur="errors.address_street = null" class="input-xxlarge"></textarea>
              <span class="help-block" v-if="errors.address_street" v-text="errors.address_street" />
            </div>
          </div>
          
          <div class="tabular-form__row" :class="{ 'has-error': (errors.address_city || errors.address_state || errors.address_zip) }">
            <div class="tabular-form__label">
              <label for="address_city">City:</label>
            </div>
            <div class="tabular-form__field">
              <div class="form-inline">
                <input type="text" id="address_city" v-model.trim="location.address_city" @blur="errors.address_city = null" class="input-large">
                
                &nbsp;&nbsp;
                
                <label for="address_state">State:</label>
                <input type="text" id="address_state" v-model.trim="location.address_state" @blur="errors.address_state = null" class="input-mini">
                
                &nbsp;&nbsp;
                
                <label for="address_zip">ZIP Code:</label>
                <input type="text" id="address_zip" v-model.trim="location.address_zip" @blur="errors.address_zip = null" class="input-small">
                
                <span class="help-block" v-if="errors.address_city"><br>{{ errors.address_city }}</span>
                <span class="help-block" v-if="errors.address_state"><br>{{ errors.address_state }}</span>
                <span class="help-block" v-if="errors.address_zip"><br>{{ errors.address_zip }}</span>
              </div>
            </div>
          </div>
          
          <div class="tabular-form__row" :class="{ 'has-error': (errors.latitude || errors.longitude) }">
            <div class="tabular-form__label">
              <label for="latitude">Map Coordinates:</label>
            </div>
            <div class="tabular-form__field">
              <div class="input-prepend" style="display: inline-block; vertical-align: bottom;">
                <span class="add-on">Latitude:</span><!--
                ensure no whitespace in markup here because of display: inline-block
                --><input type="text" id="latitude" v-model.trim="location.latitude" @blur="errors.latitude = null" class="input-small">

                &nbsp;&nbsp; / &nbsp;&nbsp;

                <span class="add-on">Longitude:</span><!--
                ensure no whitespace in markup here because of display: inline-block
                --><input type="text" id="longitude" v-model.trim="location.longitude" @blur="errors.longitude = null" class="input-small">
              </div>
              
              <button type="button" class="btn btn-success" @click="lookupLatLng" style="margin-left: 20px; margin-top: 1px; vertical-align: top;" :disabled="isLookingUpLatLng">Guess Lat/Lng from Address</button>
            </div>
          </div>
          <div class="tabular-form__row" v-show="coordsOutsideGlacialLakes">
            <div class="tabular-form__label">&nbsp;</div>
            <div class="tabular-form__field">
              <div class="alert alert-warning" style="line-height: 1.5;">
                WARNING: Map coordinates fall outside the Glacial Lakes region -- please make sure they are correct.
                <div v-show="!location.address_zip">(Entering a ZIP code before clicking the "Guess" button will greatly increase accuracy.)</div>
              </div>
            </div>
          </div>
        </div>
        
        <hr>
        
        <h2>Description</h2>
        <c5-rich-text-editor
         dom-id="description"
         :initial-content="location.description || ''"
         ref="description"
        />
        
        <hr>
        
        <h2>Video</h2>
        <div class="tabular-form__row" :class="{ 'has-error': errors.video_url }">
          <div class="tabular-form__label">
            <label for="video_url">YouTube/Vimeo Video URL:</label>
          </div>
          <div class="tabular-form__field">
            <input type="text" id="video_url" v-model.trim="location.video_url" @blur="errors.video_url = null">
            <span class="help-block" v-if="errors.video_url" v-text="errors.video_url" />
          </div>
        </div>
        
        <hr>
        
        <h2>Slideshow Photos</h2>
        
        <c5-file-chooser-list
         :initial-file-ids="location.photo_fIDs || []"
         :only-images="true"
         ref="slideshowPhotos"
        />
        <div style="font-style: italic;">These images will be downscaled and cropped to 1200x800 pixels. For best results, these images should be these dimensions or larger. The popup image be downscaled to fit a max of 1200x1200 pixels (retaining the original width/height ratio)</div>
        
        <hr>
        
        <h2>Categories</h2>
        <div>
          <div v-for="category in allCategoriesAndSubcategories" class="location-subcategories">
            <b>{{ category.title }}:</b>
            <label v-for="subcategory in category.subcategories">
              <input type="checkbox" v-model="location.subcategory_ids" :value="subcategory.id">
              {{ subcategory.title }}
            </label>
          </div>
        </div>
        
        <div v-if="allNearbyLocations.length">
          <hr>
          <h2>Nearby Locations</h2>
          <div v-for="nearbyLocation in allNearbyLocations">
            <label>
              <input type="checkbox" v-model="location.nearby_location_ids" :value="nearbyLocation.id" style="display: inline;">
              {{ nearbyLocation.title }}
            </label>
          </div>
        </div>
        
      </form>
    </div>
    
    <div class="ccm-pane-footer">
      <router-link :to="{ name: 'list' }" class="btn ccm-button-v2-left">Cancel</router-link>
      <button type="button" class="btn btn-primary ccm-button-v2-right" :disabled="isSaving" @click="save">Save</button>
    </div>
  </div>
</template>

<script>
import C5FileChooser from '../components/C5FileChooser.vue'
import C5FileChooserList from '../components/C5FileChooserList.vue'
import C5RichTextEditor from '../components/C5RichTextEditor.vue'

export default {
  name: 'edit-page',
  
  components: {
    C5FileChooser,
    C5FileChooserList,
    C5RichTextEditor,
  },
  
  data () {
    return {
      location: {
        id: null,
        title: null,
        url_slug: null,
        description: null,
        thumbnail_photo_fID: null,
        latitude: null,
        longitude: null,
        address_street: null,
        address_city: null,
        address_state: 'SD',
        address_zip: null,
        phone: null,
        email: null,
        website_url: null,
        video_url: null,
        is_active: 1,
        photo_fIDs: [],
        subcategory_ids: (this.$route.params.defaultSubcategoryId ? [this.$route.params.defaultSubcategoryId] : []),
        nearby_location_ids: [],
      },
      errors: {},
      isLoading: true,
      isLookingUpLatLng: false,
      isSaving: false,
      urlSlugAutoMode: false,
    }
  },
  
  created () {
    this.allCategoriesAndSubcategories = window.sdglMembersAllCategoriesAndSubcategories
    this.allNearbyLocations = window.sdglMembersAllNearbyLocations
    this.spinnerImgSrc = `${window.CCM_REL}/concrete/images/throbber_white_16.gif`
    
    this.loadData()
  },
  
  computed: {
    hasErrors () {
      //Check both the existence of keys in this.errors AND that the value is truthy
      // (a key might exist with null value, in which case it is *not* an error)
      return (Object.values(this.errors).filter(e => !!e).length > 0)
    },
    
    coordsOutsideGlacialLakes () {
      if (!(this.location.latitude && this.location.longitude)) {
        return false
      } else if (this.location.latitude < 43.845) {
        return true
      } else if (this.location.latitude > 46) {
        return true
      } else if (this.location.longitude < -100) {
        return true
      } else if (this.location.longitude > -96.4) {
        return true
      } else {
        return false
      }
    },
  },
  
  watch: {
    //Auto-fill the url slug as the title is entered, but only when creating new records
    // (not editing existing records) and only if the user hasn't manually changed the url slug.
    'location.title': function(newTitle) { //don't use arrow functions for watchers! (otherwise `this` doesn't get bound to the Vue instance)
      if (this.urlSlugAutoMode) {
        this.location.url_slug = newTitle.toLowerCase().replace(/-+/g, '').replace(/\s+/g, '-').replace(/[^a-z0-9-]/g, '') //https://gist.github.com/bentruyman/1211400
      }
    },
  },
  
  methods: {
    loadData () {
      //If no id was provided, then this is a "create new record" form,
      // so don't load data from server, but enable "auto-slugification"
      // (auto-populate url_slug as user types the title)
      if (!this.$route.params.id) {
        this.urlSlugAutoMode = true
        this.isLoading = false
        return
      }
      
      //We were provided an id in route params, so load data from the server
      let url = `${window.sdglMembersBaseUrl}/get_location/${this.$route.params.id}`
      $.get(url, response => {
        if (response.success) {
          this.location = response.data
          this.isLoading = false
        } else {
          alert('ERROR: Could not retrieve member data from the server. Please reload the page and try again.')
        }
      })
    },
    
    lookupLatLng () {
      if (!this.location.address_street || !this.location.address_street.length || !this.location.address_city || !this.location.address_city.length || !this.location.address_state || !this.location.address_state.length) {
        alert('Cannot look up coordinates because the address is incomplete (street address, city and state are required)')
        return
      }
      
      this.isLookingUpLatLng = true
      
      let address = this.location.address_street.replace(/[\n\r]/g, '') + ', ' + this.location.address_city + ', ' + this.location.address_state + (this.location.address_zip && this.location.address_zip.length ? ' ' + this.location.address_zip : '')
      
      $.get('https://maps.googleapis.com/maps/api/geocode/json', {
        'key': window.sdglMembersGoogleMapsApiKey,
        'address': address,
      }, (response) => {
        if (response.results && response.results.length) {
          var coords = response.results[0].geometry.location;
          this.location.latitude = coords.lat
          this.location.longitude = coords.lng
        } else if (response.error_message && response.error_message.length) {
          alert('Geolocation API Error: ' + response.error_message)
        } else if (response.results) {
          alert('Address not found')
        }
        this.isLookingUpLatLng = false
      }, 'json')
    },

    save () {
      if (this.isSaving) {
        //already in the process of saving... don't attempt again until saving is done
        // (this could happen if user hits "enter" key in rapid succession)
        return
      }
      
      this.isSaving = true
      
      let url = `${window.sdglMembersBaseUrl}/post_save_location`
      let data = Object.assign({}, this.location) //convert the vue-observed data object to a plain object (otherwise the next lines fail)
      data.ccm_token = window.sdglMembersCsrfToken
      data.thumbnail_photo_fID = this.$refs.thumbnailPhoto.getChosenFileId()
      data.photo_fIDs = this.$refs.slideshowPhotos.getChosenFileIds()
      data.description = this.$refs.description.getContent()
      
      data = this.castValuesForPOST(data)
      
      $.post(url, data, (response) => {
        if (response.success) {
          this.$router.push({ name: 'list' })
        } else if (response.errors) {
          this.isSaving = false
          this.errors = response.errors
          this.$nextTick(() => {
            $('body,html').animate({ scrollTop: 150 }, 200)
          })
        } else {
          alert('ERROR: Could not save member data to the server. Please reload the page and try again.')
        }
      });
    },
  },
  
}
</script>

<style scoped>
  h2 {
    margin-bottom: 10px;
  }
  
  .tabular-form {
    display: table;
  }
  .tabular-form__row {
    display: table-row;
  }
  .tabular-form__field,
  .tabular-form__label {
    display: table-cell;
    vertical-align: middle;
    padding: 5px 5px 9px 5px;
  }
  .tabular-form__label {
      text-align: right;
  }
  .tabular-form label {
      float: none;
      text-align: inherit;
  }

  .tabular-form select {
    width: auto;
  }
  
  .has-error,
  .has-error .help-block {
    color: red;
  }
  .has-error input,
  .has-error textarea,
  .has-error select {
    border: 1px solid red;
  }
  
  .location-subcategories {
    margin-top: 10px;
    border-top: 1px solid #eee;
    padding-top: 10px;
  }
  .location-subcategories:first-child {
    margin-top: 0;
    border-top: none;
    padding-top: 0;
  }
  
  .location-subcategories label {
    margin-left: 10px;
  }
  .location-subcategories label,
  .location-subcategories input {
    display: inline;
  }
  
</style>