<template>
  <div class="ccm-pane-body ccm-pane-body-footer">
    
    <div class="form-inline well">
      <label>
        Member Category:
        <select v-model="filterBySubcategoryId" @change="loadData()">
          <option value="">ALL</option>
          <optgroup v-for="category in allCategoriesAndSubcategories" :label="category.title">
            <option v-for="subcategory in category.subcategories" :value="subcategory.id">{{ subcategory.title }}</option>
          </optgroup>
        </select>
      </label>
      
      <router-link :to="{ name: 'create', params: { defaultSubcategoryId: filterBySubcategoryId } }" class="btn btn-success ccm-button-v2-right">Add New Member&hellip;</router-link>
    </div>
    
    <table v-if="locations.length" class="table table-striped">
      <tbody>
        <tr v-for="location in locations" :key="location.id">
          
          <td>
            <img v-if="!!location.thumbnail_photo_fID" :src="location.thumbnail_photo_c5_lvl1_thumb_src" alt="">
          </td>
          
          <td>
            {{ location.title }}
          </td>
          
          <td>
            {{ locationCityState(location) }}
          </td>
          
          <td class="last-field">
            <span v-if="!location.is_active" class="label">Disabled</span>
          </td>
          
          <td class="action">
            <router-link :to="{ name: 'edit', params: { id: location.id } }" class="btn"><i class="icon-pencil"></i> Edit</router-link>
          </td>
          <td class="action">
            <button type="button" class="btn" @click="deleteLocation(location)"><i class="icon-trash"></i> Delete</button>
          </td>
        </tr>
      </tbody>
    </table>
    <p v-else><i>There are no members in the chosen category.</i></p>
    
    <list-pagination :pagination="pagination" @paginate="loadData" />
      
  </div>
</template>

<script>

import ListPagination from '../components/ListPagination.vue'

export default {
  name: 'list-page',
  
  components: {
    ListPagination,
  },
  
  data () {
    return {
      filterBySubcategoryId: '',
      locations: [],
      pagination: null,
      lastPaginationPageNum: 1, //keeps track of the last-displayed pagination page # so when user navigates back to the list from an edit page, they wind up at the same spot in the pagination pages
    }
  },
  
  created () {
    this.allCategoriesAndSubcategories = window.sdglMembersAllCategoriesAndSubcategories
  },
  
  activated () {
    this.loadData()
  },
  
  methods: {
    loadData (pageNum = null) {
      let args = {}
      
      if (pageNum !== null) {
        args.p = pageNum
      } else if (this.lastPaginationPageNum) {
        args.p = this.lastPaginationPageNum
      }
      
      if (this.filterBySubcategoryId) {
        args.sc = this.filterBySubcategoryId
      }
      
      let url = `${window.sdglMembersBaseUrl}/get_locations`
      
      $.get(url, args, response => {
        if (response.success) {
          this.locations = response.locations
          this.pagination = response.pagination
          if (response.pagination) {
            this.lastPaginationPageNum = response.pagination.currentPage
          }
        } else {
          alert('ERROR: Could not retrieve member data from the server. Please reload the page and try again.')
        }
      })
    },
    
    locationCityState(location) {
      if (!!location.address_city && !!location.address_state) {
        return location.address_city + ', ' + location.address_state
      } else if (!!location.address_city) {
        return location.address_city
      } else {
        return ''
      }
    },
    
    deleteLocation(location) {
      if (confirm('Are you sure you wish to permanently delete member "' + location.title + '"?')) {
        let url = `${window.sdglMembersBaseUrl}/post_delete_location/${location.id}`
        let data = { ccm_token: window.sdglMembersCsrfToken }
        
        $.post(url, data, (response) => {
          if (response.success) {
            this.loadData()
          } else {
            alert('ERROR: Could not delete member. Please reload the page and try again.')
          }
        });
      }
    },
  },
}
</script>

<style scoped>
  /* override some bootstrap table styles */
  .ccm-ui .table {
    width: auto;
  }
  .ccm-ui .table td {
    vertical-align: middle;
  }
  .ccm-ui .table td.last-field {
    padding-right: 40px;
  }
  .ccm-ui .table td.action {
    padding-left: 0;
    padding-right: 5px;
  }
</style>
