<template>
  <div>
    <div class="ccm-pane-body">
      <p class="error">Error: Unknown URL / Page Not Found</p>
    </div>
    <div class="ccm-pane-footer">
      <router-link :to="{ name: 'list' }" class="btn ccm-button-v2-left">&laquo; Back to Members</router-link>
    </div>
  </div>
</template>

<script>
export default {
  name: 'page-not-found',
}
</script>

<style scoped>
  .error {
    color: red;
    font-weight: bold;
    font-size: 24px;
    font-style: italic;
  }
</style>