/*==============================================================================================================================
 ABSTRACT CLASSES
 These are classes that can be added to HTML elements *anywhere*. NOTE: be careful with abstract/utility classes as they risk being 
 added willy-nilly throughout a site. This can muddy-up otherwise well-thought-out, modular CSS (hindering long-term maintenance).
 It may be best to think of these as classes that will be added by an end-user (via a rich text editor). For everything else, 
 it's best to fit styling into BEM blocks (possibly using mixins when concerned about SASS dry-ness).
==============================================================================================================================*/

// External link
a.external:after {
	content: url('images/link-icons/external.svg');
	padding-left: 3px;
}

// PDF link
a.pdf:before {
	content: url('images/link-icons/pdf.svg');
	padding-right: 3px;
}