/*==============================================================================================================================
 CONCRETE5 OVERRIDES
 CSS overrides to miscellaneous C5 elements
==============================================================================================================================*/

// Responsive breakpoints with area layouts (http://concrete5tricks.com/blog/responsive-breakpoints-area-layouts/)
@media screen and (max-width: 43.75em) { //700px
	// remove column float and make full-width
	.ccm-layout-col {
		float: none !important;
		width: 100% !important;
	}
	// remove column "spacing"
	.ccm-layout-col-spacing {
		margin: 0 !important;
	}
}

// Fix c5 login form button spacing
.form-horizontal .actions .ccm-input-submit {
	margin: 10px 0 40px;
}

// Fix c5 profile edit page form spacing 
#profile-edit-form h3 {
	margin-top: 30px;
}

// Force red on attribute blocks. The pink coloring of the block (due to it being from pagetype defaults) will be confusing 
// on the page attribute blocks (since unlike normal blocks they just pass thru to the page attribute itself, it won't make 
// sense to the user that it's "global" or "aliased" or whatever), so force it to red...
.wc-force-red-border .ccm-block.ccm-block-alias {
	border-color: #f00 !important;
}