/*==============================================================================================================================
 GENERAL RESETS
 These are CSS resets/styles we like and tend to always use.
==============================================================================================================================*/

// Force a vertical scrollbar to prevent a jumpy page.
html {
	overflow-y: scroll;
}

// Maintain a reasonable layout on superduper narrow screens. 
body {
	min-width: 320px;
}

// Future-proof (and IE10+ compatible) device width for responsive design (http://timkadlec.com/2012/10/ie10-snap-mode-and-responsive-design/ and http://www.netmagazine.com/features/five-steps-gettin-flexy-responsive-web-design).
@-webkit-viewport {
	width: device-width;
}
@-moz-viewport {
	width: device-width;
}
@-ms-viewport {
	width: device-width;
}
@-o-viewport {
	width: device-width;
}
@viewport {
	width: device-width;
}

// A "better" box model (http://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/).
.the-page {
	box-sizing: border-box;
	*, *:before, *:after {
		box-sizing: inherit;
	}
}

// Responsive-ize images.
.the-page img {
	width: auto;
	max-width: 100%;
	height: auto;
}

// Get rid of annoying margins.
.the-page {
	h1, h2, h3, h4, h5, h6 {
		margin: 0;
	}
	p {
		margin-top: 0;
	}
	ul, ol {
		margin-top: 0;
	}
}

// Vertical align table cells top
.the-page {
	th {
		vertical-align: top;
	}
	td {
		vertical-align: top;
	}
}

// Give buttons a pointer
.the-page {
	button {
		cursor: pointer;
	}
}