/*==============================================================================================================================
 GLOBAL VARIABLES
 Variables used throughout this site.
==============================================================================================================================*/

// Layout
$width-content-container-max: 1190px; //max-width on the content "column" (could be applied to various different elements if wrappers have backgrounds that extend the full width of the screen but you want to constrain the width of the content within, e.g. `max-width: 1000px; margin: 0 auto;`)

// Spacing
$block-bottom-spacing: 20px;

// Fonts
$font-roboto: 'Custom Roboto', serif;
$font-manuale: 'Custom Manuale', sans-serif;

// Colors
$color-error-dark: #a6382e;
$color-error-medium: #cb4437;
$color-error-light: #faeceb;
$color-warning-dark: #918d23;
$color-warning-medium: #c6c131;
$color-warning-light: #faf9e3;
$color-success-dark: #026738;
$color-success-medium: #0a9d58;
$color-success-light: #e6f5ee;
$color-boilerplate-gray-dark: #404040;
$color-boilerplate-gray-medium: #808080;
$color-boilerplate-gray-light: #bfbfbf;
$color-gray-dark: #2F2C29;
$color-gray-medium: #544E49;
$color-gray-light: #797673;
$color-maroon-medium: #552701;
$color-cream-medium: #D5CEC0;
$color-cream-light: #EAE6DE;
$color-cream-lighter: #F6F3ED;
$color-cream-lightest: #F7F6F3;
$color-blue-darkest: #001C3C;
$color-blue-darker: #002957;
$color-blue-dark: #134074;
$color-blue-medium: #006494;
$color-blue-light: #0182BF;
$color-blue-lighter: #3DA3D3;
$color-green-dark: #596920;
$color-green-medium: #748634;
$color-green-light: #9DAE60;
$color-red-dark: #940E06;
$color-red-medium: #D13026;
$color-red-light: #E24D44;


// Media Queries 
// Media Query ems are always relative to the browser default font size regardless of whether you change the font size 
// of the <html> element (http://stackoverflow.com/a/24172702/477513).
// These breakpoints are loosely based off ideas presented here: 
// https://medium.freecodecamp.com/the-100-correct-way-to-do-css-breakpoints-88d6a5ba1862
$smallest-em: 0.01em; // our safe approximation of the smallest possible size in ems (eg: should never be more than 1px).
$breakpoint-phone-portrait-max: 31.25em; // 500px
$breakpoint-phone-landscape-max: 43.75em; // 700px
$breakpoint-tablet-portrait-max: 56.25em; // 900px
$breakpoint-tablet-landscape-max: 75em; // 1200px

$media-query-phone-portrait-only: "(max-width: #{$breakpoint-phone-portrait-max})";
$media-query-phone-landscape-only: "(min-width: #{$breakpoint-phone-portrait-max + $smallest-em}) and (max-width: #{$breakpoint-phone-landscape-max})";
$media-query-phone-only: "(max-width: #{$breakpoint-phone-landscape-max})";

$media-query-tablet-portrait-only: "(min-width: #{$breakpoint-phone-landscape-max + $smallest-em}) and (max-width: #{$breakpoint-tablet-portrait-max})";
$media-query-tablet-landscape-only: "(min-width: #{$breakpoint-tablet-portrait-max + $smallest-em}) and (max-width: #{$breakpoint-tablet-landscape-max})";
$media-query-tablet-only: "(min-width: #{$breakpoint-phone-landscape-max + $smallest-em}) and (max-width: #{$breakpoint-tablet-landscape-max})";

$media-query-desktop-only: "(min-width: #{$breakpoint-tablet-landscape-max + $smallest-em})";

$media-query-phone-landscape-and-larger: "(min-width: #{$breakpoint-phone-portrait-max + $smallest-em})";
$media-query-tablet-portrait-and-larger: "(min-width: #{$breakpoint-phone-landscape-max + $smallest-em})";
$media-query-tablet-landscape-and-larger: "(min-width: #{$breakpoint-tablet-portrait-max + $smallest-em})";

$media-query-tablet-portrait-and-smaller: "(max-width: #{$breakpoint-tablet-portrait-max})";
$media-query-tablet-landscape-and-smaller: "(max-width: #{$breakpoint-tablet-landscape-max})";


// URL encoded images
// Be judicious with these. If the image is super tiny, this is a nice way to save http requests and simplify things (eg: make image swapping on hover instantaneous).
// However, if the image is large, this can bloat the CSS file uncessarily. 
$image-crumbs-arrow: "data:image/svg+xml,%3Csvg width='6' height='8' viewBox='0 0 6 8' xmlns='http://www.w3.org/2000/svg'%3E%3Ctitle%3Ecrumbs-arrow%3C/title%3E%3Cpath d='M6 4.657L0 8V6.558l4.756-2.57L0 1.442V0l6 3.303z' fill='%23544E49' fill-rule='evenodd'/%3E%3C/svg%3E";
$image-menu-arrow-down: "data:image/svg+xml,%3Csvg width='7' height='4' viewBox='0 0 7 4' xmlns='http://www.w3.org/2000/svg'%3E%3Ctitle%3Emenu-arrow-down%3C/title%3E%3Cpath d='M3.452 4L0 0h7z' fill='%23006EA2' fill-rule='evenodd'/%3E%3C/svg%3E";
$image-menu-arrow-up: "data:image/svg+xml,%3Csvg width='7' height='4' viewBox='0 0 7 4' xmlns='http://www.w3.org/2000/svg'%3E%3Ctitle%3Emenu-arrow-up%3C/title%3E%3Cpath d='M3.548 0L7 4H0z' fill='%23006EA2' fill-rule='evenodd'/%3E%3C/svg%3E";
$image-primary-nav-arrow-down-blue-medium: "data:image/svg+xml,%3Csvg width='7' height='4' viewBox='0 0 7 4' xmlns='http://www.w3.org/2000/svg'%3E%3Ctitle%3Eprimary-nav-arrow-down%3C/title%3E%3Cpath d='M3.452 4L0 0h7z' fill='%23006EA2' fill-rule='evenodd'/%3E%3C/svg%3E";
$image-primary-nav-arrow-right-blue-medium: "data:image/svg+xml,%3Csvg width='4' height='7' viewBox='0 0 4 7' xmlns='http://www.w3.org/2000/svg'%3E%3Ctitle%3Eprimary-nav-arrow-right%3C/title%3E%3Cpath d='M4 3.548L0 7V0z' fill='%23006EA2' fill-rule='evenodd'/%3E%3C/svg%3E";
$image-primary-nav-arrow-down-white: "data:image/svg+xml,%3Csvg width='7' height='4' viewBox='0 0 7 4' xmlns='http://www.w3.org/2000/svg'%3E%3Ctitle%3Eprimary-nav-arrow-down%3C/title%3E%3Cpath d='M3.452 4L0 0h7z' fill='%23FFF' fill-rule='evenodd'/%3E%3C/svg%3E";
$image-primary-nav-arrow-right-white: "data:image/svg+xml,%3Csvg width='4' height='7' viewBox='0 0 4 7' xmlns='http://www.w3.org/2000/svg'%3E%3Ctitle%3Eprimary-nav-arrow-right%3C/title%3E%3Cpath d='M4 3.548L0 7V0z' fill='%23FFF' fill-rule='evenodd'/%3E%3C/svg%3E";
$image-expandable-content-arrow-down: "data:image/svg+xml,%3Csvg width='27' height='19' viewBox='0 0 27 19' xmlns='http://www.w3.org/2000/svg'%3E%3Ctitle%3Eexpandable-content-arrow-down%3C/title%3E%3Cpath d='M0 2.603L3.037 0l12 14H12L24 0l3.037 2.603-13.518 15.772z' fill='%23006EA2'/%3E%3C/svg%3E";
$image-expandable-content-arrow-up: "data:image/svg+xml,%3Csvg width='27' height='19' viewBox='0 0 27 19' xmlns='http://www.w3.org/2000/svg'%3E%3Ctitle%3Eexpandable-content-arrow-up%3C/title%3E%3Cpath d='M0 15.772L13.519 0l13.518 15.772L24 18.375l-12-14h3.037l-12 14z' fill='%23006EA2'/%3E%3C/svg%3E";
$image-video-play: "data:image/svg+xml,%3Csvg width='14' height='14' viewBox='0 0 14 14' xmlns='http://www.w3.org/2000/svg'%3E%3Ctitle%3Eplay%3C/title%3E%3Cpath fill='%23FFF' d='M14 7L0 14V0z' fill-rule='evenodd'/%3E%3C/svg%3E";
$image-photo-slider-arrow-left: "data:image/svg+xml,%3Csvg width='9' height='15' viewBox='0 0 9 15' xmlns='http://www.w3.org/2000/svg'%3E%3Ctitle%3Ephoto-slider-arrow-left%3C/title%3E%3Cpath d='M0 7.397L9 15V0z' fill='%23F7F6F3' fill-rule='evenodd'/%3E%3C/svg%3E";
$image-photo-slider-arrow-right: "data:image/svg+xml,%3Csvg width='9' height='15' viewBox='0 0 9 15' xmlns='http://www.w3.org/2000/svg'%3E%3Ctitle%3Ephoto-slider-arrow-right%3C/title%3E%3Cpath d='M9 7.397L0 0v15z' fill='%23F7F6F3' fill-rule='evenodd'/%3E%3C/svg%3E";
$image-select-arrow-down-cream-lightest: "data:image/svg+xml,%3Csvg width='7' height='4' viewBox='0 0 7 4' xmlns='http://www.w3.org/2000/svg'%3E%3Ctitle%3Eselect-arrow-down%3C/title%3E%3Cpath fill='%23F7F6F3' d='M3.452 4L0 0h7z' fill-rule='evenodd'/%3E%3C/svg%3E";
$image-select-arrow-down-gray-dark: "data:image/svg+xml,%3Csvg width='7' height='4' viewBox='0 0 7 4' xmlns='http://www.w3.org/2000/svg'%3E%3Ctitle%3Eselect-arrow-down%3C/title%3E%3Cpath fill='%232F2C29' d='M3.452 4L0 0h7z' fill-rule='evenodd'/%3E%3C/svg%3E";