/*==============================================================================================================================
 GLOBAL DEFAULT STYLES
 These are styles that can live anywhere and/or cascade through all elements in the page.
 Note: we are wrapping with ".the-page" purely as a container to avoid unintentional styling
       of other elements within the <body> (like CMS toolbars).
       Styles that are intended for "the-page" module itself should be applied in
       `blocks/_the-page.scss` instead.
==============================================================================================================================*/

.the-page {

	/*
	// For an extra touch, style user-selected text to match the site's color scheme (http://css-tricks.com/almanac/selectors/s/selection/ and https://developer.mozilla.org/en-US/docs/Web/CSS/::selection#Summary).
	::-moz-selection {
		color: #fff;
		background-color: $color-boilerplate-gray-dark;
	}
	::selection {
		color: #fff;
		background-color: $color-boilerplate-gray-dark;
	}

	// For an extra touch, style tap highlight color to match the site's color scheme (http://j.mp/webkit-tap-highlight-color).
	a:link {
		-webkit-tap-highlight-color: rgba($color-boilerplate-gray-dark, .25);
	}

	// For an extra touch, style the focused elements to match the site's color scheme (http://css-tricks.com/almanac/properties/o/outline/).
	:focus {
		outline-color: $color-boilerplate-gray-dark;
	}
	*/
	
	// Links
	a {
		color: $color-blue-medium;
		text-decoration: none;
		&:hover, &:active, &:focus {
			color: $color-blue-lighter;
			text-decoration: underline;
		}
	}

	// Headings
	h1, h2, h3, h4, h5, h6 {
		@include wc-rem(margin-bottom, .7);
	}
	h1 {
		@include gl-text-standout($size: 2);
	}
	h2 {
		@include gl-text-standout($size: 2);
	}
	h3 {
		@include gl-text-standout($size: 4);
	}
	h4 {
		@include gl-text-standout($size: 5);
	}
	h5 {
		@include gl-text-standout($size: 6);
	}
	h6 {
		@include gl-text-standout($size: 6);
	}

	// Horizontal rule
	hr {
		border: 0;
		height: 2px;
		background-color: $color-gray-medium;
	}

}