/*==============================================================================================================================
 MIXINS
 Custom mixins for this site.
==============================================================================================================================*/

// Regular body text
@mixin gl-text-regular($size) {
	font-family: $font-manuale;
	@include wc-rem(font-size, 18px);
	line-height: 1.8;
	@include wc-rem(letter-spacing, .5px);
	color: $color-gray-dark;
	@if ($size == 1) {
		@include wc-rem(font-size, 18px);
	} @else if ($size == 2) {
		@include wc-rem(font-size, 16px);
	} @else if ($size == 3) {
		@include wc-rem(font-size, 14px);
	} @else if ($size == 4) {
		@include wc-rem(font-size, 12px);
	}
}

// Standout text
@mixin gl-text-standout($size) {
	font-family: $font-roboto;
	line-height: 1.3;
	@include wc-rem(letter-spacing, 1px);
	color: $color-maroon-medium;
	@if ($size == 1) {
		@include wc-rem(font-size, 30px);
	} @else if ($size == 2) {
		@include wc-rem(font-size, 24px);
	} @else if ($size == 3) {
		@include wc-rem(font-size, 20px);
	} @else if ($size == 4) {
		@include wc-rem(font-size, 18px);
	} @else if ($size == 5) {
		@include wc-rem(font-size, 16px);
	} @else if ($size == 6) {
		@include wc-rem(font-size, 14px);
	} @else if ($size == 7) {
		@include wc-rem(font-size, 14px);
	}
}

// Big text
@mixin gl-text-big() {
	font-family: $font-roboto;
	line-height: 1.3;
	@include wc-rem(letter-spacing, 1px);
	color: #fff;
	text-shadow: 0 0 10px rgba(#000, .5);
	@media #{$media-query-phone-only} {
		@include wc-rem(font-size, 44px);
	}
	@media #{$media-query-tablet-portrait-and-larger} {
		@include wc-rem(font-size, 64px);	
	}
}


@mixin gl-button($size: 'large', $dimmed: false, $disabled: false) {
	text-decoration: none;
	text-align: center;
	display: inline-block;
	vertical-align: middle;
	border-radius: 2px;
	border: none;
	box-shadow: 0 0 8px 0 rgba(0,0,0,0.50);
	@include gl-text-standout($size: 5);
	color: #fff;
	background-color: $color-red-medium;
	@if $size == 'large' {
		padding: 15px 20px;
		@media #{$media-query-tablet-portrait-and-larger} {
			min-width: 150px;	
		}
	} @else if $size == 'small' {
		padding: 10px 20px;
		@media #{$media-query-tablet-portrait-and-larger} {
			min-width: 100px;	
		}
	}
	@if $dimmed {
		background-color: $color-gray-medium;
	}
	@if $disabled {
		cursor: not-allowed;
	}
	&:hover, &:active, &:focus {
		text-decoration: none;
		color: #fff;
		background-color: $color-red-light;
		@if $dimmed {
			background-color: $color-gray-light;
		}
		@if $disabled {
			
		}
	}
}