<template>
  <span class="form-inline">
    <label :class="{'has-error': errors.title}">
      <b>Title:</b>
      <input type="text" v-model="subcategory.title" class="input-medium" @keyup.enter="save" @blur="errors.title = null">
      <span class="help-block" v-if="errors.title" v-text="errors.title"></span>
    </label>
    
    <template v-if="isSaving">
      <img :src="spinnerImgSrc" alt="">
      Saving...
    </template>
    <template v-else>
      <button type="button" class="btn btn-cancel" @click="$emit('cancel')">Cancel</button>
      <button type="button" class="btn btn-primary" @click="save">Save</button>
    </template>
  </span>
</template>

<script>
export default {
  name: 'edit-subcategory',
  
  props: {
    categoryId: {
      type: Number,
      required: true,
    },
    initialData: Object,
  },
  
  data () {
    return {
      subcategory: {
        category_id: this.categoryId,
        id: this.initialData.id || null,
        title: this.initialData.title || '',
      },
      errors: {},
      isSaving: false,
      spinnerImgSrc: `${window.CCM_REL}/concrete/images/throbber_white_16.gif`,
    }
  },
  
  methods: {
    save () {
      if (this.isSaving) {
        //already in the process of saving... don't attempt again until saving is done
        // (this could happen if user hits "enter" key in rapid succession)
        return
      }
      
      this.isSaving = true
      
      let url = `${window.sdglMembersBaseUrl}/post_save_subcategory`
      let data = Object.assign({}, this.subcategory) //convert the vue-observed data object to a plain object (otherwise the next line fails)
      data.ccm_token = window.sdglMembersCsrfToken
      
      data = this.castValuesForPOST(data)
      
      $.post(url, data, response => {
        if (response.success) {
          this.$emit('save', response.data)
        } else if (response.errors) {
          this.isSaving = false
          this.errors = response.errors
        } else {
          alert('A server error occurred while attempting to save this data. Please reload the page and try again.')
        }
      })
    },
  },
}
</script>

<style scoped>
  label {
    margin-right: 10px;
    vertical-align: top; /* keeps the layout sane when error messages are shown */
  }
  
  .btn-cancel {
    margin-left: 50px;
  }
  
  .has-error,
  .has-error .help-block {
    color: red;
  }
  .has-error input,
  .has-error textarea,
  .has-error select {
    border: 1px solid red;
  }
</style>