<template>
  <div>
    <div v-show="isLoading">
      <img :src="spinnerImgSrc" alt="">
      <span style="vertical-align: top;">Loading...</span>
    </div>
    
    <div v-show="!isLoading && !subcategories.length">
      <i>No sub-categories (yet)</i>
    </div>
    
    <draggable :list="subcategories" :options="{ handle: '.sortable-handle', disabled: disableControls }" @end="onDragEnd" class="sortable-container">
      <div v-for="subcategory in subcategories" :key="subcategory.id" class="list-item">
        
        <div class="item-cell item-cell--sortable-handle-wrapper">
          <div class="sortable-handle" :class="{ 'sortable-handle--disabled': disableControls }" title="Drag To Sort"><i class="icon-resize-vertical"></i></div>
        </div>
        
        <div class="item-cell">
          <edit-subcategory
           v-if="currentlyEditingSubcategoryId == subcategory.id"
           :category-id="categoryId"
           :initial-data="subcategory"
           @save="onSubcategorySave"
           @cancel="currentlyEditingSubcategoryId = null"
          ></edit-subcategory>
          
          <div v-else>
            {{ subcategory.title }}
          </div>
        </div>
        
        <div v-if="!disableControls" class="item-cell">
          <button type="button" class="btn" @click="currentlyEditingSubcategoryId = subcategory.id"><i class="icon-pencil"></i> Edit</button>
          &nbsp;
          <button type="button" class="btn" @click="deleteSubcategory(subcategory)"><i class="icon-trash"></i> Delete</button>
        </div>
      </div>
      
      <div slot="footer" class="list-item">
        <div class="item-cell">&nbsp;</div>
        
        <div class="item-cell">
          <edit-subcategory
           v-if="currentlyEditingSubcategoryId == -1"
           :category-id="categoryId"
           :initial-data="{}"
           @save="onSubcategorySave"
           @cancel="currentlyEditingSubcategoryId = null"
          ></edit-subcategory>
          
          <div v-else-if="!disableControls">
            <button type="button" class="btn btn-success" @click="currentlyEditingSubcategoryId = -1">Add New Sub-Category</button>
          </div>
        </div>
        
        <div class="item-cell">&nbsp;</div>
      </div>
    </draggable>
  </div>
</template>

<script>
import EditSubcategory from './EditSubcategory.vue'

export default {
  name: 'list-subcategories',
  
  components: {
    EditSubcategory,
  },
  
  props: {
    categoryId: {
      type: Number,
      required: true,
    },
  },
  
  data () {
    return {
      isLoading: true,
      subcategories: [],
      currentlyEditingSubcategoryId: null, //-1: adding new record, null/0: not adding/editing anything, >0: editing an existing record
      spinnerImgSrc: `${window.CCM_REL}/concrete/images/throbber_white_16.gif`,
    }
  },
  
  created () {
    $.get(`${window.sdglMembersBaseUrl}/get_subcategories/${this.categoryId}`, response => {
      if (response.success) {
        this.isLoading = false
        this.subcategories = response.data
      } else {
        alert('ERROR: Could not load sub-category data. Please reload the page and try again.')
      }
    })
  },
  
  computed: {
    disableControls () {
      return !!this.currentlyEditingSubcategoryId
    },
  },
  
  methods: {
    onSubcategorySave (data) {
      let editedIndex = this.subcategories.findIndex(sc => sc.id == data.id)
      if (editedIndex > -1) {
        this.$set(this.subcategories, editedIndex, data)
      } else {
        this.subcategories.push(data)
        this.$emit('add')
      }
      
      this.currentlyEditingSubcategoryId = null
    },
    
    onDragEnd (event) {
      let sortedIds = this.subcategories.map(sc => sc.id)
      let url = `${window.sdglMembersBaseUrl}/post_sort_subcategories/${this.categoryId}`
      let data = {
        ids: sortedIds,
        ccm_token: window.sdglMembersCsrfToken,
      }
      
      //This action has no possible errors (invalid data is just ignored),
      // and we don't do anything upon success... so no need for a response callback.
      $.post(url, data)
    },
    
    deleteSubcategory (subcategory) {
      let subcategoryIndex = this.subcategories.findIndex(sc => subcategory.id == sc.id)
      
      if (subcategoryIndex < 0) {
        alert('ERROR: cannot locate sub-category') //not sure how this would ever happen, but just in case
        return
      }
      
      if (!confirm('Are you sure you want to delete the sub-category "' + subcategory.title + '"?')) {
        return
      }
      
      this.subcategories.splice(subcategoryIndex, 1)
      this.$emit('remove')
      
      let url = `${window.sdglMembersBaseUrl}/post_delete_subcategory/${subcategory.id}`
      let data = { ccm_token: window.sdglMembersCsrfToken }
      $.post(url, data, response => {
        if (!response.success) {
          //this is so unusual that we don't bother waiting to remove the row from the list (above) before checking for errors
          alert(response.error ? response.error : 'ERROR: Could not delete sub-category. Please reload the page and try again')
        }
      })
      
    }
  },
}
</script>

<style scoped>
  .sortable-handle {
    cursor: move;
    text-align: center;
    vertical-align: middle;
    padding: 10px;
    height: 23px;
    width: 32px;

    border-radius: 3px; /* Opera 10.5, IE9+, Safari 5, Chrome, Firefox 4+, iOS 4, Android 2.1+ */
    /* useful if you don't want a bg color from leaking outside the border: */
    -moz-background-clip: padding; -webkit-background-clip: padding-box; background-clip: padding-box;
  }
  .sortable-handle--disabled {
    opacity: 0;
    cursor: default;
  }
  .sortable-ghost {
    opacity: .5 !important;
    background: #C8EBFB !important;
  }
  .sortable-container {
    padding: 8px 0; /* add some space above and below for drop target */
    display: table;
    width: 100%;
  }
  
  .list-item {
    display: table-row;
  }
  .list-item:nth-child(odd) {
    background-color: #f9f9f9;
  }
  
  .item-cell {
    display: table-cell;
    vertical-align: middle;
    border-top: 1px solid #ddd;
    padding: 8px;
  }
  .item-cell--sortable-handle-wrapper {
    width: 40px;
    padding: 0;
  }
  .item-cell--actions-wrapper {
    width: 200px;
  }
</style>
