/*============================================================================================================================
 SASS SETUP
 SASS mixins/variables to be used globally.
============================================================================================================================*/

// Web Concentrate mixins
@import 'libraries/webconcentrate';

// This site's global variables
@import 'base/global-variables';

// Custom mixins for this site
@import 'base/mixins';


/*============================================================================================================================
 NORMALIZATION AND RESETS
 Make browsers render elements more consistently and in line with modern standards. Also apply some general resets we like 
 and tend to always use.
============================================================================================================================*/

// Normalize.css (https://github.com/necolas/normalize.css/).
@import 'libraries/normalize';

// General resets and styles
@import 'base/general-resets';


/*==============================================================================================================================
 3RD PARTY OVERRIDES/ADDITIONS
 CSS targeted at overriding (or adding to) CSS for 3rd party things (eg: CMSs, plugins/addons, frameworks, etc.)
==============================================================================================================================*/

@import 'base/c5-overrides';


/*==============================================================================================================================
 FONTS
 Font setup.
==============================================================================================================================*/

@import 'base/fonts';


/*==============================================================================================================================
 KEYFRAMES
 Keyframe setup.
==============================================================================================================================*/

@import 'base/keyframes';


/*==============================================================================================================================
 GLOBAL DEFAULT STYLES
 Styles that can live anywhere and/or cascade through all elements in the page.
==============================================================================================================================*/

@import 'base/global-default-styles';


/*==============================================================================================================================
 ABSTRACT CLASSES
 These are classes that can be added to HTML elements *anywhere*. NOTE: be careful with abstract/utility classes as they risk being 
 added willy-nilly throughout a site. This can muddy-up otherwise well-thought-out, modular CSS (hindering long-term maintenance).
 It may be best to think of these as classes that will be added by an end-user (via a rich text editor). For everything else, 
 it's best to fit styling into BEM blocks (possibly using mixins when concerned about SASS dry-ness).
==============================================================================================================================*/

@import 'base/abstract-classes';


/*==============================================================================================================================
 BLOCKS/MODULES
 Styles for individual blocks/modules within the site. Note: In the case of this project's CSS/SASS, "block" refers to the "B" 
 in the BEM CSS/HTML syntax (http://csswizardry.com/2013/01/mindbemding-getting-your-head-round-bem-syntax/).
==============================================================================================================================*/

@import 'blocks/the-page';
@import 'blocks/header-branding';
@import 'blocks/header-menu-toggle';
@import 'blocks/header-menu';
@import 'blocks/site-search';
@import 'blocks/primary-nav';
@import 'blocks/crumbs';
@import 'blocks/main-heading';
@import 'blocks/c5-errors';
@import 'blocks/c5-login';
@import 'blocks/c5-formblock';
@import 'blocks/page-main-home';
@import 'blocks/page-main-basic';
@import 'blocks/page-main-landing';

@import 'blocks/db-author-nav';
@import 'blocks/db-featured-nav';
@import 'blocks/db-date-nav';
@import 'blocks/db-related-posts';
@import 'blocks/db-recent-posts';
@import 'blocks/db-classification-nav';
@import 'blocks/db-post';
@import 'blocks/db-subscribe';
@import 'blocks/db-posts-index';

@import 'blocks/content';
@import 'blocks/image';
@import 'blocks/utility-nav';
@import 'blocks/footer-nav';
@import 'blocks/social-nav';
@import 'blocks/tourism-regions';
@import 'blocks/notification';
@import 'blocks/landing-heading';
@import 'blocks/home-feature';
@import 'blocks/spacer';
@import 'blocks/photo-cta';
@import 'blocks/expandable-content';
@import 'blocks/photo-slider';
@import 'blocks/video';
@import 'blocks/video-embed';
@import 'blocks/directory';
@import 'blocks/section-nav';
@import 'blocks/cta-box';
@import 'blocks/trip-ideas';
@import 'blocks/featured-member-sub-category';
@import 'blocks/member-list';
@import 'blocks/event-list';
@import 'blocks/footer-ctas';
@import 'blocks/ads';
@import 'blocks/custom-contact-form';

@import 'blocks/dec-public-form';
@import 'blocks/share';
@import 'blocks/event-detail';
