/*============================================================================================================================
 SASS SETUP
 SASS mixins/variables to be used globally.
============================================================================================================================*/

// Web Concentrate mixins
@import 'libraries/webconcentrate';

// This site's global variables
@import 'base/global-variables';

// Custom mixins for this site
@import 'base/mixins';


/*==============================================================================================================================
 FONTS
 Font setup.
==============================================================================================================================*/

@import 'base/fonts';


/*============================================================================================================================
 DEFAULT STYLES
 This is similar to the resets/styles in our theme's stylesheet. However, since this is within TinyMCE, some tweaks could be 
 dangerous. So, we're just bringing in a subset of things that we feel will make the editing experience better.
============================================================================================================================*/

body {
	@include gl-text-regular($size: 1);
}

h1, h2, h3, h4, h5, h6 {
	margin: 0;	
}

p {
	margin-top: 0;
}

ul, ol {
	margin-top: 0;
}

td {
	font-family: inherit;
	font-size: inherit;
	color: inherit;
}

// Links
a {
	color: $color-blue-medium;
	text-decoration: none;
	&:hover, &:active, &:focus {
		color: $color-blue-lighter;
		text-decoration: underline;
	}
}

// Headings
h1, h2, h3, h4, h5, h6 {
	@include wc-rem(margin-bottom, .7);
}
h1 {
	@include gl-text-standout($size: 2);
}
h2 {
	@include gl-text-standout($size: 2);
}
h3 {
	@include gl-text-standout($size: 4);
}
h4 {
	@include gl-text-standout($size: 5);
}
h5 {
	@include gl-text-standout($size: 6);
}
h6 {
	@include gl-text-standout($size: 6);
}

// Horizontal rule
hr {
	border: 0;
	height: 2px;
	background-color: $color-gray-medium;
}


/*============================================================================================================================
 TINYMCE FORMATS DROPDOWN
 TinyMCE has a dropdown that can add classes to HTML elements (http://www.tinymce.com/wiki.php/Configuration:style_formats). 
 Here's where we style those classes while viewing in TinyMCE. Note: how they look on the actual page can be different. These
 styles are purely to make TinyMCE function and to enhance the editing experience. How they look on the actual page is
 handled in our theme's stylesheet.
============================================================================================================================*/

// External link
a.external {
	visibility: visible; // Dummy style to ensure SASS doesn't wipe the empty selector. The selector is needed so it shows up in some TinyMCE dialogs
	&:after {
		content: url(images/link-icons/external.svg);
		padding-left: 3px;
	}
}

// PDF link
a.pdf {
	visibility: visible; // Dummy style to ensure SASS doesn't wipe the empty selector. The selector is needed so it shows up in some TinyMCE dialogs
	&:before {
		content: url(images/link-icons/pdf.svg); 
		padding-right: 3px;
	}
}
