/* add/edit forms */
	.form-table {
	    border: none;
	}
	.form-table td {
	    border: none;
	    vertical-align: middle;
	    padding: 5px 5px 9px 5px;
	}
	.form-table td.right {
	    text-align: right;
	}
	.form-table td.top {
		vertical-align: top;
	}
	.form-table label {
	    float: none;
	    text-align: inherit;
	}


/* lists (override bootstrap styles) */
	.ccm-ui .table {
		width: auto;
	}
	.ccm-ui .table td {
		vertical-align: middle;
	}
	.ccm-ui .table td.last-field {
		padding-right: 40px;
	}
	.ccm-ui .table td.action {
		padding-left: 0;
		padding-right: 5px;
	}


/* drag-n-drop sorting */
	.sortable-container {
		padding: 15px 0; /* add some space above and below for drop target */
	}

	.ccm-ui .sortable-handle { /* <--prepend w/ .ccm-ui to override default bootstrap styles */
		cursor: move;
		display: block;
		text-align: center;
		padding-top: 8px;
		height: 23px;
		width: 32px;

		-webkit-border-radius: 3px; /* Safari 3-4, iOS 1-3.2, Android ≤1.6 */
		        border-radius: 3px; /* Opera 10.5, IE9+, Safari 5, Chrome, Firefox 4+, iOS 4, Android 2.1+ */
		/* useful if you don't want a bg color from leaking outside the border: */
		-moz-background-clip: padding; -webkit-background-clip: padding-box; background-clip: padding-box;
	}

	.ccm-ui .sortable-handle:hover, /* <--prepend w/ .ccm-ui to override default bootstrap styles */
	.ui-sortable-helper .sortable-handle { /* <--this selector is to maintain hover bg color while dragging (even if mouse moves off the drag handle) */
		background-color: #ccc;
	}


/* ajax loading indicator */
	.loading-indicator img {
		vertical-align: middle;
		padding-left: 5px;
	}



/* calendar events view page */
.calendar-events-filter {
	float: left;
}
.calendar-events-filter select {
	width: auto;
}
.calendar-events-filter label {
	margin-right: 20px;
}
.ccm-pane-footer .pagination-wrapper {
	margin-left: 75px;
}
.ccm-pane-options .ccm-button-v2-right.primary {
	margin-left: 10px;
}


/* calendar events edit page */
.repeat_controls div {
	margin-bottom: 3px;
}
#repeat_ends_never_wrapper {
	margin-bottom: 8px;
}
.edit-cancellations a {
	display: block;
	float: left;
	clear: both;
	line-height:1.3;
}
.dec-datepair {
	float: left;
}
#is_final_day_ignored_by_query_container {
	float:left;
	margin-left: 15px;
	margin-top: 4px;
}

#is_end_time_hidden_container {
	float:left;
	margin-left: 15px;
	margin-top: 4px;
}

#link_type {
	width: auto;
	display: inline;
	vertical-align: top;
	margin-right: 5px;
}
#link_to_cID_wrapper .ccm-summary-selected-item {
	margin: 0;
}
#link_to_url {
	display: inline;
}