#repeating-items {
	list-style: none;
	margin: 0;
	padding: 0;
	position: relative; /* so child image element can be placed absolutely */
	border-top: 1px solid #999;
}

#repeating-items .repeating-item-edit-open-dialog {
	cursor: pointer;
}

#repeating-items .repeating-item,
#repeating-item-action-add {
	height: 32px;
	border-bottom: 1px solid #999;
	overflow: hidden;
	position: relative;
	background-color: #fff; /* so drag-n-drop looks more solid */
}

#repeating-items .ui-sortable-helper { /* style for list item while being dragged */
	border-bottom: 1px solid #999;
	background-color: #f9f9f9;
	-webkit-box-shadow: 0 3px 5px #ccc; /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
	        box-shadow: 0 3px 5px #ccc; /* Opera 10.5, IE9+, Firefox 4+, Chrome 6+, iOS 5 */
}
#repeating-items .ui-sortable-helper .repeating-item-action-delete {
	background-color: #f9f9f9;
}

#repeating-items .repeating-item-thumb {
	position: absolute;
	left: 1px;
	top: 1px;
	width: 30px;
	height: 30px;
}
#repeating-items .repeating-item-thumb img {
	border: none;
	max-width: 100%;
	max-height: 100%;
	vertical-align: bottom; /* somehow this magically centers the image vertically */
}

#repeating-items .repeating-item-label,
#repeating-item-action-add {
	padding: 3px 62px 0 38px;
	font: normal normal 20px sans-serif;
	white-space: nowrap; /* works with parent's overflow:hidden to keep long content from breaking the layout */
}
#repeating-items .repeating-item-label-full-width {
	padding-left: 5px;
}

#repeating-items .repeating-item-action {
	position: absolute;
	top: 0;
	background-color: #fff;
	border-left: 1px solid #ccc;
	padding: 7px 8px;
}
#repeating-items .repeating-item-action:hover {
	background-color: #ddd;
}

#repeating-items .repeating-item-action-move {
	right: 31px;
	cursor: move;
}

#repeating-items .repeating-item-action-delete {
	right: 0;
	cursor: pointer;
}

#repeating-item-action-add {
	cursor: pointer;
	height: 30px;
	padding: 7px 0 0 13px;
	color: #666;
	font-style: italic;
	border: 2px dashed #999;
	border-top: none;
	-webkit-border-radius: 0 0 10px 10px; /* Safari 3-4, iOS 1-3.2, Android ≤1.6 */
	   -moz-border-radius: 0 0 10px 10px; /* Firefox ≤3.6 */
	        border-radius: 0 0 10px 10px; /* Opera 10.5, IE9+, Safari 5, Chrome, Firefox 4+, iOS 4, Android 2.1+ */
}



/*** styles for edit fields ("single fields" and fields in the "edit item" popup dialog) ***/
#single-fields-edit legend,
#repeating-item-edit legend {
	margin-bottom: 0;
	border-bottom: none;
	line-height: 32px; /* bring this down a smidge from the default 36px */
}
#single-fields-edit fieldset,
#repeating-item-edit fieldset {
	margin-bottom: 12px;
}

#single-fields-edit label,
#repeating-item-edit label {
	display: inline;
}

#single-fields-edit .dcp-help-text,
#repeating-item-edit .dcp-help-text {
	margin: 0 0 10px 3px;
	font-style: italic;
}

#single-fields-edit .ccm-file-selected-wrapper,
#repeating-item-edit .ccm-file-selected-wrapper {
	width: 517px; /* match width of twitter bootstrap's .input-xxlarge */
}
#single-fields-edit .ccm-file-manager-select,
#repeating-item-edit .ccm-file-manager-select {
	width: 538px; /* match width of twitter bootstrap's .input-xxlarge */
}

#single-fields-edit div.ccm-summary-selected-item,
#repeating-item-edit div.ccm-summary-selected-item {
	margin: 0; /* override c5 default style on page selector (too much space above and below) */
}

#single-fields-edit .file-alt-text,
#repeating-item-edit .file-alt-text {
	width: 478px;
	margin-top: 5px;
}

#single-fields-edit .link-to-label,
#repeating-item-edit .link-to-label {
	margin-left: 10px;
}

#single-fields-edit .link-to-type,
#repeating-item-edit .link-to-type {
	display: inline;
	width: auto;
}

#single-fields-edit .link-to-ps-wrapper,
#repeating-item-edit .link-to-ps-wrapper {
	width: 364px;
	vertical-align: middle;
	margin-bottom: 5px;
}

#single-fields-edit .link-to-url,
#repeating-item-edit .link-to-url {
	width: 354px;
}

#single-fields-edit .link-text-input,
#repeating-item-edit .link-text-input {
	width: 469px;
}

/* override c5 style */
div.ccm-ui #single-fields-edit button,
div.ccm-ui #single-fields-edit input,
div.ccm-ui #single-fields-edit select,
div.ccm-ui #single-fields-edit textarea {
	vertical-align: baseline;
}
div.ccm-ui #single-fields-edit input {
	margin-bottom: 9px;
}

/*** jquery validation stuff ***/
#single-fields-edit textarea.error,
#repeating-item-edit textarea.error,
#single-fields-edit input.error,
#repeating-item-edit input.error,
#single-fields-edit select.error,
#repeating-item-edit select.error {
	/* styles copied from twitter bootstrap */
	color: #B94A48;
	border-color: #B94A48;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	   -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	        box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}
#single-fields-edit label.error,
#repeating-item-edit label.error {
	color: #B94A48;
	display: block;
	font-weight: bold;
	font-size: 14px;
}