/* lists (override bootstrap styles) */
	.ccm-ui .table {
		/*width: auto;*/
	}
	.ccm-ui .table td {
		vertical-align: middle;
	}


/* buttons in lists (prepend w/ .ccm-ui to override default bootstrap styles) */
	.ccm-ui .row-button {
		display: block;
		text-align: center;
		padding-top: 8px;
		height: 23px;
		width: 32px;

		-webkit-border-radius: 3px; /* Safari 3-4, iOS 1-3.2, Android ≤1.6 */
		        border-radius: 3px; /* Opera 10.5, IE9+, Safari 5, Chrome, Firefox 4+, iOS 4, Android 2.1+ */
		/* useful if you don't want a bg color from leaking outside the border: */
		-moz-background-clip: padding; -webkit-background-clip: padding-box; background-clip: padding-box;
	}

	.ccm-ui .row-button:hover {
		background-color: #ccc;
	}
	
	.ccm-ui .table td.row-button-container {
		padding: 8px 2px;
		vertical-align: top;
	}

/* drag-n-drop sorting */
	.sortable-container {
		padding: 15px 0 0 0; /* add some space above for drop target (we don't need any below because the existence of the "add new" button/row serves this purpose) */
	}

	.sortable-handle {
		cursor: move;
	}

	.ui-sortable-helper .sortable-handle {
		background-color: #ccc; /* maintain hover bg color while dragging (even if mouse moves off the drag handle) */
	}

/* "Add New Item" button/row at bottom of edit fields table */
.add-field {
	border: 1px dashed #DDD;
	border-top: 1px solid #DDD;
	height: 30px;
	cursor: pointer;
}
.add-field td {
	font-style: italic;

}

/* edit field type/handle/label inputs */
div.field-info input {
	vertical-align: top; /* override bootstrap default alignment so textboxes line up with "disabled" spans */
}

.ccm-ui .form-inline select.field-info-fieldtype-select {
	width: 100px;
	margin-bottom: 3px;
}

/* edit field options */
div.ccm-ui .field-options textarea {
	width:478px;
	display: block;
	margin-bottom: 5px;
}
.field-options > label {
	padding-right: 10px;
}


/* table row colors seem to be missing from C5's bootstrap styles (older version perhaps?) */
.table tbody tr.success > td {
  background-color: #dff0d8;
}
.table tbody tr.error > td {
  background-color: #f2dede;
}
.table tbody tr.warning > td {
  background-color: #fcf8e3;
}
.table tbody tr.info > td {
  background-color: #d9edf7;
}
.ccm-ui .table tbody tr.success:hover > td {
  background-color: #d0e9c6;
}
.ccm-ui .table tbody tr.error:hover > td {
  background-color: #ebcccc;
}
.ccm-ui .table tbody tr.warning:hover > td {
  background-color: #faf2cc;
}
.ccm-ui .table tbody tr.info:hover > td {
  background-color: #c4e3f3;
}

/* fix c5 core styles for inline <code> */
.dcp-confirmation-container code {
	color: inherit; /* override c5 core style that makes <code> red */
	line-height: 1.8; /* prevent vertical squishing */
	white-space: nowrap;
}

/* override twitter bootstrap text color for the "Page Usage" table in change confirmation dialogs */
.dcp-confirmation-container .alert-dcp-black-text {
	color: #4f4f4f;
}

/* textareas for help text */
.dcp-help-text-wrapper h3 {
	margin-bottom: 10px;
	background: url(../../../concrete/images/icons/arrow_down_black.png) no-repeat center left;
	padding-left: 15px;
	cursor: pointer;
}
.dcp-help-text-wrapper h3.expanded {
	background: url(../../../concrete/images/icons/arrow_up_black.png) no-repeat center left;
}

.dcp-help-text-wrapper textarea {
	width: 98%;
	height: 100px;
}
