.calendar {
  font-family: Arial;
  font-size: 12px;
}
.calendar table {
  width: 100%;
  border-collapse: collapse;
}
.calendar caption > div {
  font-weight: bold;
  font-size: 2em;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
            -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 10px;
}
.calendar caption > div a {
  text-decoration: none;
  color: #0080ff;
}
.calendar caption > div select {
  font-size: 1rem;
  font-weight: normal;
}
.calendar th {
  text-align: center;
  text-transform: uppercase;
  padding: 5px;
  font-size: 1.2em;
  width: 14.2857%;
  color: gray;
}
.calendar td {
  padding: 3px 3px 0 3px;
  border: 1px solid silver;
  background-color: #f7f7f7;
  height: 100px;
  vertical-align: top;
}
.calendar .off {
  color: #bfbfbf;
  background-color: white;
}
.calendar .day-num {
  padding: 2px 10px;
}
.calendar ul {
  padding: 0;
  margin: 0;
}
.calendar li {
  display: block;
  padding: 3px;
  border: 1px solid #d1e6fa;
  margin-bottom: 2px;
  border-radius: 2px;
  background-color: #e8f2fc;
}
